n8n-backups/ARCHIVUS.json
{
  "createdAt": "2025-02-22T11:05:32.322Z",
  "updatedAt": "2025-03-02T22:44:52.000Z",
  "id": "m2k9MVNT4uCijF2U",
  "name": "ARCHIVUS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "Archivus 📂\tGestion des fichiers Google Drive.\tGPT-3.5-turbo-16k\tRecherche, organise, récupère des fichiers."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -200
      ],
      "id": "87dcbeee-1ea0-415e-8583-93723c83cebb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "dafd4901-0178-41e2-8654-d585d4dc1645",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        240
      ],
      "id": "0c5fad90-41fc-4241-88e1-eb4915c7d6fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "10fce33b-49d7-45db-8144-f05a790cbd35",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es ARCHIVUS, l’agent IA responsable de Google Drive.\n■ Rôles :\n- Rechercher, organiser et récupérer des fichiers.\n- Privilégier l’accès aux fichiers récents avant de lancer une recherche complète.\n■ Optimisation :\n■ Vérifie d’abord l’historique récent avant de déclencher une recherche complète."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "501b0c21-d0b2-48d2-8618-0c2fbaeb8189",
      "name": "ARCHIVUS"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ARCHIVUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ARCHIVUS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "ARCHIVUS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "test communication"
        }
      }
    ]
  },
  "versionId": "baa57373-77fa-4421-a268-9b0998f83043",
  "triggerCount": 0,
  "tags": []
}