n8n-backups/Backup Workflows.json
{
  "createdAt": "2025-03-02T20:16:06.670Z",
  "updatedAt": "2025-03-02T21:55:24.000Z",
  "id": "pZMvEnZlZ4wZUbVg",
  "name": "Backup Workflows",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        0
      ],
      "id": "44fa82c7-3f73-4f72-af02-ea9d98a3387c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "647db5f2-4a0f-427c-966c-e9555b30aa34",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "QxmMdNHFryKfVf3s",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ybdn",
          "mode": "list",
          "cachedResultName": "ybdn",
          "cachedResultUrl": "https://github.com/ybdn"
        },
        "repository": {
          "__rl": true,
          "value": "J.A.R.E.D.",
          "mode": "list",
          "cachedResultName": "J.A.R.E.D.",
          "cachedResultUrl": "https://github.com/ybdn/J.A.R.E.D."
        },
        "filePath": "=\"n8n-backup_{{ $now.format('ddMMyyyy-HHmmss') }}\"",
        "fileContent": "={{ $json.nodes }}",
        "commitMessage": "={{ $json.createdAt }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1340,
        -140
      ],
      "id": "557f9fb0-3b95-45b4-8e26-67350f54c651",
      "name": "GitHub",
      "credentials": {
        "githubApi": {
          "id": "T4dFe4hUpzunHUiJ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "3160594e-5de5-41b2-b408-b662245967bd",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1240,
        120
      ],
      "id": "e388edba-f896-4fae-850d-e399b354b666"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e18df1e2-2053-4172-aef5-2ca88e331a1c",
              "name": "workflow_data",
              "value": "={{$json[\"nodes\"][0]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        -140
      ],
      "id": "87dc177f-30c6-437a-9301-38daf45adf20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json[\"When Executed by Another Workflow\"].main[0][0];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -100
      ],
      "id": "f7964891-0042-4b49-818c-585c0e4ae115",
      "name": "Code"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "994bf070-a787-4df6-8bfa-41141da5814c",
  "triggerCount": 0,
  "tags": []
}