n8n-backups/Backup Workflows.json
{
  "createdAt": "2025-03-02T20:16:06.670Z",
  "updatedAt": "2025-03-02T22:37:04.000Z",
  "id": "pZMvEnZlZ4wZUbVg",
  "name": "Backup Workflows",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        0
      ],
      "id": "44fa82c7-3f73-4f72-af02-ea9d98a3387c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        20,
        0
      ],
      "id": "647db5f2-4a0f-427c-966c-e9555b30aa34",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "QxmMdNHFryKfVf3s",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ybdn",
          "mode": "list",
          "cachedResultName": "ybdn",
          "cachedResultUrl": "https://github.com/ybdn"
        },
        "repository": {
          "__rl": true,
          "value": "J.A.R.E.D.",
          "mode": "list",
          "cachedResultName": "J.A.R.E.D.",
          "cachedResultUrl": "https://github.com/ybdn/J.A.R.E.D."
        },
        "filePath": "=n8n-backups/{{ $('n8n').item.json.name }}.json",
        "binaryData": true,
        "commitMessage": "=Sauvegarde du {{ $('Schedule Trigger').item.json['Readable date'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "557f9fb0-3b95-45b4-8e26-67350f54c651",
      "name": "GitHub",
      "credentials": {
        "githubApi": {
          "id": "T4dFe4hUpzunHUiJ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data",
        "options": {
          "format": "={{ true }}",
          "fileName": "={{ $json.name }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "df4f35f2-b15f-4c7b-9547-f48937b1df99",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "954cbe51-a839-4bd9-b6ed-d995e26b3836",
  "triggerCount": 1,
  "tags": []
}