n8n-backups/CHRONOS.json
{
  "createdAt": "2025-02-28T19:46:34.703Z",
  "updatedAt": "2025-02-28T19:46:51.000Z",
  "id": "zFxfSRcCJo7vDed4",
  "name": "CHRONOS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "09326097-2fbc-4bbf-83ed-5424f4784db8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "baudrin.yoann@gmail.com",
          "mode": "list",
          "cachedResultName": "Mon Agenda"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ month: 3 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        840,
        240
      ],
      "id": "71eac209-21b5-467a-98c1-f5247db5faaa",
      "name": "get_CalPerso",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ULgFIyyrKVcfz780",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "baudrin.yoann@gmail.com",
          "mode": "list",
          "cachedResultName": "Mon Agenda"
        },
        "eventId": "{{ $fromAI('evenement') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        240
      ],
      "id": "3b8d0057-d1e6-4176-b424-08be8f4b599b",
      "name": "delete_Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ULgFIyyrKVcfz780",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "baudrin.yoann@gmail.com",
          "mode": "list",
          "cachedResultName": "Mon Agenda"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        400
      ],
      "id": "21126ffb-d5a6-45bc-bdbf-19a5c69b5d8e",
      "name": "get_Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ULgFIyyrKVcfz780",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "baudrin.yoann@gmail.com",
          "mode": "list",
          "cachedResultName": "Mon Agenda"
        },
        "start": "={{ $fromAI('debut') }}",
        "end": "={{ $fromAI('fin') }}",
        "additionalFields": {
          "color": "={{ $fromAI('colorID') }}",
          "description": "={{ $fromAI('description') }}",
          "location": "={{ $fromAI('lieu') }}",
          "summary": "={{ $fromAI('titre') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        840,
        400
      ],
      "id": "b599ce79-7a4b-4978-becf-0a123579827a",
      "name": "init_Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ULgFIyyrKVcfz780",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "Chronos 📅\tGestion des événements dans Google Agenda.\tGPT-3.5-turbo-0125\tAjoute, modifie, récupère des événements."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        -240
      ],
      "id": "ab28a0f9-50a8-4083-90ac-3950136fadde",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-0125"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        200
      ],
      "id": "fc7821b8-0d71-4ffc-9c5d-3f7814701072",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        200
      ],
      "id": "df56f510-0912-4a6e-bb8b-95c234150b8f",
      "name": "Window Buffer Memory4"
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Tu es CHRONOS, l’agent chargé de la gestion des événements Google Agenda.\n■ Rôles :\n- Ajouter, modifier et récupérer des événements.\n- Appliquer la bonne couleur selon la catégorie de l’événement.\n- Éviter les créations d’événements en double.\n■ Optimisation des appels API :\n■ Vérifie d’abord si un événement existe avant d’en créer un nouveau.\n■ Évite les appels API si une information est déjà stockée localement.\nLa date d’aujourd’hui est : {{ $now }} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        0
      ],
      "id": "a2c9cfcb-5fdf-4e8a-beb7-bdb4b2c2cf3a",
      "name": "CHRONOS"
    }
  ],
  "connections": {
    "get_CalPerso": {
      "ai_tool": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_Event": {
      "ai_tool": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_Event": {
      "ai_tool": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "init_Event": {
      "ai_tool": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory4": {
      "ai_memory": [
        [
          {
            "node": "CHRONOS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CHRONOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0d622f7e-605d-4c76-989c-635450a7d65e",
  "triggerCount": 0,
  "tags": []
}