n8n-backups/HERMES.json
{
  "createdAt": "2025-02-28T19:41:45.029Z",
  "updatedAt": "2025-02-28T19:57:00.000Z",
  "id": "vTCjUeqEhEPrWkZI",
  "name": "HERMES",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        260
      ],
      "id": "c9095e87-3c66-4ad9-a791-91609a912c04",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('email') }}",
        "subject": "={{ $fromAI('objet') }}",
        "message": "={{ $fromAI('message') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        520,
        620
      ],
      "id": "17badeb0-07f8-460f-9211-7dd9bfbf4bc5",
      "name": "Send_Mails",
      "webhookId": "86e63d93-e9e6-4a77-b1c0-c417bb66e7ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "E77WpgBivINzFGq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Hermès ✉️\tGestion des emails Gmail.\tGPT-4-turbo (tri), GPT-4o (rédaction)\tTrie, récupère, répond aux emails.\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "id": "3fdcddd0-e57b-41d0-abd0-7eb2a511e813",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        500
      ],
      "id": "60e42164-b721-4244-8024-8b3584cd95de",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        120,
        460
      ],
      "id": "f04fda90-7160-4724-9ddc-ae0e8f470c23",
      "name": "Window Buffer Memory3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Tu es HERMÈS, l’agent IA responsable de la gestion des emails Gmail.\n■ Rôles :\n- Trier, analyser et répondre aux emails Gmail.\n- Appliquer un filtrage intelligent pour identifier les emails importants.\n- Rédiger des emails en HTML et ajouter la signature obligatoire :\n\"Yoann BAUDRIN avec J.A.R.E.D.\"\n■ Optimisation :\n■ Évite d’analyser un email déjà traité.\n■ Utilise GPT-4-turbo pour l’analyse et GPT-4o pour la rédaction avancée.\nLa date d’aujourd’hui est : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        60,
        260
      ],
      "id": "0b2b8e69-0a1f-46f8-8348-01fb253ad2be",
      "name": "HERMES"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        480
      ],
      "id": "08dc6c24-68a1-4d50-af32-e31996d8de9c",
      "name": "Repondre",
      "webhookId": "f5cb9ad5-3e93-4934-b649-4c45cd1af0cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "E77WpgBivINzFGq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {
          "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}",
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        640
      ],
      "id": "4b73f605-6863-49ca-84b3-4fb091648339",
      "name": "Consulter",
      "webhookId": "37e6f78b-5cb3-4230-9165-83913a2400f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "E77WpgBivINzFGq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        840,
        480
      ],
      "id": "ed78a1fb-2002-4347-95df-c3071cdcf8f8",
      "name": "MarquerLu",
      "webhookId": "389e12a8-fb09-44d2-a07b-190d8569ab6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "E77WpgBivINzFGq4",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Send_Mails": {
      "ai_tool": [
        [
          {
            "node": "HERMES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "HERMES",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory3": {
      "ai_memory": [
        [
          {
            "node": "HERMES",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HERMES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repondre": {
      "ai_tool": [
        [
          {
            "node": "HERMES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consulter": {
      "ai_tool": [
        [
          {
            "node": "HERMES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MarquerLu": {
      "ai_tool": [
        [
          {
            "node": "HERMES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f93feeaf-0c05-440f-9bf6-91ce98dabd10",
  "triggerCount": 0,
  "tags": []
}