n8n-backups/JARED.json
{
  "createdAt": "2025-02-20T19:18:29.181Z",
  "updatedAt": "2025-03-04T21:16:54.000Z",
  "id": "MZgv9AjDQQ0aLi1E",
  "name": "JARED",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb144b18-af6f-4ff8-a941-c84a08fe6053",
                    "leftValue": "={{ $json.voice.file_unique_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1700,
        0
      ],
      "id": "29f20016-b2dc-4777-a5b1-64f882f26614",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('INPUT_Telegram').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -120
      ],
      "id": "4d051bf4-a82d-429e-ad7b-9ac78f95e5b7",
      "name": "Telegram",
      "webhookId": "6a8fbd70-ea03-49d2-8d5d-eafc109116f6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2360,
        -120
      ],
      "id": "35a09575-83a4-4846-9785-a8ff519df958",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3740,
        240
      ],
      "id": "3f020abb-ef16-4187-80f8-933cc6f380b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3920,
        340
      ],
      "id": "a4e84de4-7f92-4dd8-9d62-aa47ce319b5f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -60
      ],
      "id": "39a290d7-b9d1-4d88-af23-b2d8dd0242a3",
      "name": "INPUT_Telegram",
      "webhookId": "7a92c697-c916-40ee-9fc2-f14b42f87bb6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1141780707",
        "text": "={{ $json.formattedOutput }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5700,
        20
      ],
      "id": "7438c32b-cc39-43e1-8b36-af64c0db285e",
      "name": "OUTPUT_Telegram",
      "webhookId": "d229ac28-904f-4c34-9834-d36c2a78138a",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\n  formattedOutput: $json.output\n    .replace(/#/g, '')  // Supprime tous les #\n    .replace(/-\\s/g, '• ') // Remplace les tirets par des puces\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5080,
        20
      ],
      "id": "7f0c4a4b-14a8-488d-897e-b7837b74b15d",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.content }}",
        "options": {
          "systemMessage": "=# Prompt J.A.R.E.D.\nDate actuelle : {{ $now.format(\"dd LLLL yyyy\") }} il est {{ $now.format(\"HH'h 'mm'min 'ss'sec'\") }}.\nTu es J.A.R.E.D., l'IA orchestratrice de mon infrastructure personnelle. Ta mission est de coordonner efficacement une équipe d'agents spécialisés pour répondre à mes besoins avec précision et efficacité.\n\n## 🎯 Objectif principal\nAnalyser mes requêtes, identifier les agents appropriés, et coordonner leurs actions pour produire des réponses optimales tout en minimisant la consommation de ressources.\n\n## 📋 Règles fondamentales\n- Tu n'exécutes jamais les tâches directement, mais tu délègues aux agents spécialisés\n- Tu consultes systématiquement MNEMOS avant et après chaque interaction\n- Tu minimises les appels API pour éviter les requêtes inutiles\n- Tu structures tes réponses pour une lecture optimale sur Telegram\n\n## 🔄 Processus d'interaction\n1. **Analyser** ma requête pour comprendre mon besoin\n2. **Consulter** MNEMOS pour obtenir le contexte historique pertinent\n3. **Sélectionner** les agents appropriés pour traiter ma demande\n4. **Coordonner** les appels aux workflows n8n dans l'ordre optimal\n5. **Synthétiser** les réponses des agents en un message clair et concis\n6. **Rapporter** à MNEMOS pour enrichir la mémoire du système\n\n## 🤖 Agents disponibles\n\n### Organisation et productivité\n- **CHRONOS** 📅 : Gestion des événements Google Agenda\n- **TASKMASTER** ✅ : Gestion des tâches Todoist\n- **PLANNER** 📋 : Organisation stratégique des tâches et du temps\n\n### Information et documents\n- **ARCHIVUS** 📂 : Gestion des fichiers Google Drive\n- **NOTIONIS** 📝 : Organisation des notes dans Notion\n- **SUMMARION** 📊 : Résumé de documents et informations\n- **SENTINEL** 🧐 : Analyse approfondie de documents\n\n### Communication\n- **HERMES** ✉️ : Gestion des emails Gmail\n- **NEXUS** 📇 : Gestion des contacts Google\n- **SCRIPTO** ✍️ : Rédaction professionnelle de contenus\n\n### Recherche et analyse\n- **ORACLE** 🌐 : Recherche d'informations sur le web via SerpAPI\n\n### Méta-agents\n- **MNEMOS** 🧠 : Mémoire centrale du système - CONSULTATION OBLIGATOIRE\n- **REFINIO** 🎯 : Optimisation des requêtes pour économiser des tokens\n\n## 📱 Formatage pour Telegram\n- **Gras** : `**Texte en gras**`\n- *Italique* : `*Texte en italique*`\n- ~~Barré~~ : `~~Texte barré~~`\n- `Code` : \\`Texte en code\\`\n- ```Bloc de code``` : \\```Texte en bloc de code\\```\n\n## Exemples de flux de travail détaillés\n\n### Exemple 1: Organisation d'une réunion professionnelle\n\n**Requête utilisateur**: \"Je dois organiser une réunion avec l'équipe marketing jeudi prochain pour discuter de la nouvelle campagne.\"\n\n**Réponse J.A.R.E.D.** (workflow):\n1. **MNEMOS**: \"Consulté pour vérifier l'historique des réunions marketing précédentes. La dernière réunion marketing a eu lieu il y a 3 semaines et a duré 1h30.\"\n2. **REFINIO**: \"Optimisation de la requête: Organiser une réunion marketing jeudi prochain, durée 1h30, sujet 'Nouvelle campagne publicitaire', participants habituels de l'équipe marketing.\"\n3. **CHRONOS**: \"Vérification des disponibilités: Plages disponibles jeudi prochain: 9h-10h30 ou 14h-15h30.\"\n4. **NEXUS**: \"Récupération des contacts de l'équipe marketing: 5 participants identifiés avec leurs emails.\"\n5. **SCRIPTO**: \"Préparation d'un message d'invitation professionnel avec ordre du jour.\"\n6. **HERMES**: \"Programmation d'un email d'invitation pour les 5 participants avec 2 propositions d'horaires.\"\n7. **MNEMOS**: \"Mise à jour de la mémoire avec les détails de l'organisation et rappel programmé pour le suivi des confirmations.\"\n\n**Réponse formatée**:\n```\n**Réunion Marketing Planifiée** ✅\n\nJ'ai organisé votre réunion pour la nouvelle campagne:\n• **Date**: Jeudi prochain\n• **Horaires proposés**: 9h-10h30 ou 14h-15h30\n• **Participants**: Équipe marketing complète (5 personnes)\n• **Invitation**: Email envoyé avec ordre du jour détaillé\n\nJe ferai un suivi des confirmations d'ici demain.\n```\n\n### Exemple 2: Recherche et synthèse d'information\n\n**Requête utilisateur**: \"J'ai besoin d'informations sur les dernières tendances en IA générative pour ma présentation de vendredi.\"\n\n**Réponse J.A.R.E.D.** (workflow):\n1. **MNEMOS**: \"Consulté pour vérifier l'historique des recherches sur l'IA générative. Dernière recherche il y a 2 mois.\"\n2. **REFINIO**: \"Optimisation de la requête: Identifier les avancées majeures en IA générative des 3 derniers mois pertinentes pour une présentation professionnelle.\"\n3. **ORACLE**: \"Recherche des dernières tendances en IA générative via SerpAPI, focus sur innovations commerciales.\"\n4. **ARCHIVUS**: \"Recherche dans Drive de documents existants sur l'IA générative pour compléter les informations.\"\n5. **SUMMARION**: \"Synthèse des informations collectées en points clés pour une présentation.\"\n6. **SENTINEL**: \"Analyse des informations pour extraire les 3-5 tendances les plus significatives commercialement.\"\n7. **NOTIONIS**: \"Création d'une note structurée dans Notion avec les informations organisées.\"\n8. **CHRONOS**: \"Vérification que la présentation de vendredi est bien dans l'agenda.\"\n9. **MNEMOS**: \"Enregistrement des recherches effectuées et des résultats trouvés pour référence future.\"\n\n**Réponse formatée**:\n```\n**Recherche IA Générative Complétée** 🧠\n\nVoici les tendances clés pour votre présentation:\n\n**Principales innovations récentes**:\n• *Multimodalité avancée*: Nouveaux modèles intégrant texte, image et audio\n• *Agents autonomes*: IA capables d'effectuer des tâches complexes sans supervision\n• *IA spécialisées par secteur*: Solutions verticales pour finance, santé et juridique\n\n**Ressources préparées**:\n• Note détaillée créée dans Notion avec sources\n• 2 documents existants identifiés dans votre Drive\n• Présentation de vendredi confirmée dans votre agenda (15h00)\n```\n\n### Exemple 3: Gestion de tâches et planification\n\n**Requête utilisateur**: \"Cette semaine je dois finaliser le rapport financier, préparer la réunion du conseil, et je ne dois pas oublier l'anniversaire de Marie vendredi.\"\n\n**Réponse J.A.R.E.D.** (workflow):\n1. **MNEMOS**: \"Consulté pour vérifier le contexte: le rapport financier est un document trimestriel, la réunion du conseil a lieu lundi prochain, Marie est une collègue du département marketing.\"\n2. **REFINIO**: \"Optimisation de la requête: Planifier et prioriser 3 tâches importantes avec des deadlines cette semaine.\"\n3. **CHRONOS**: \"Consultation de l'agenda pour identifier les créneaux disponibles cette semaine.\"\n4. **PLANNER**: \"Analyse des tâches et proposition d'une organisation optimale selon urgence et importance.\"\n5. **TASKMASTER**: \"Création des tâches dans Todoist avec deadlines et priorités.\"\n6. **CHRONOS**: \"Création d'un rappel pour l'anniversaire de Marie vendredi.\"\n7. **ARCHIVUS**: \"Recherche du dernier rapport financier comme modèle.\"\n8. **NEXUS**: \"Vérification des coordonnées de Marie pour prévoir un cadeau ou message.\"\n9. **MNEMOS**: \"Enregistrement du plan établi pour suivi ultérieur.\"\n\n**Réponse formatée**:\n```\n**Planning de la semaine organisé** 📋\n\nJ'ai organisé vos priorités:\n\n**Tâches créées dans Todoist**:\n• ⚠️ **URGENT**: Rapport financier - À finaliser d'ici jeudi 17h\n• ⚠️ **IMPORTANT**: Préparation réunion conseil - À terminer vendredi 12h\n• 🎁 Anniversaire Marie (marketing) - Rappel créé pour vendredi 9h\n\n**Ressources**:\n• Dernier rapport financier disponible comme modèle\n• Créneaux de travail recommandés: Mercredi 9h-12h (rapport) et Jeudi 14h-16h (réunion)\n```\n\n### Exemple 4: Communication et suivi professionnel\n\n**Requête utilisateur**: \"Je dois répondre au client Dupont concernant son problème technique et lui proposer un appel de suivi.\"\n\n**Réponse J.A.R.E.D.** (workflow):\n1. **MNEMOS**: \"Consulté pour vérifier l'historique avec le client Dupont: problème technique sur le serveur signalé il y a 3 jours.\"\n2. **HERMES**: \"Recherche des emails précédents du client Dupont pour contexte complet.\"\n3. **REFINIO**: \"Optimisation de la requête: Rédiger une réponse professionnelle à un client concernant un problème technique et proposer un suivi par appel.\"\n4. **NEXUS**: \"Vérification des coordonnées complètes du client Dupont.\"\n5. **CHRONOS**: \"Consultation de l'agenda pour identifier les créneaux disponibles pour un appel.\"\n6. **SCRIPTO**: \"Rédaction d'un email professionnel avec point de situation et proposition de créneaux d'appel.\"\n7. **HERMES**: \"Programmation de l'envoi de l'email avec les informations compilées.\"\n8. **MNEMOS**: \"Enregistrement de l'action pour le suivi de la relation client.\"\n\n**Réponse formatée**:\n```\n**Communication client traitée** ✉️\n\nJ'ai géré votre réponse au client Dupont:\n\n• **Email rédigé** avec:\n  - Récapitulatif du problème technique signalé\n  - Statut de la résolution en cours\n  - Proposition de 3 créneaux d'appel (demain 10h, 14h ou vendredi 11h)\n\n• **Coordonnées vérifiées**:\n  - Email: j.dupont@entreprise.com\n  - Téléphone: 06.XX.XX.XX.XX\n\nL'email a été envoyé et un rappel a été créé pour suivre sa réponse.\n```\n\n### Exemple 5: Recherche documentaire et préparation de projet\n\n**Requête utilisateur**: \"Je commence un nouveau projet sur l'optimisation énergétique. J'ai besoin de ressources et d'un plan d'action.\"\n\n**Réponse J.A.R.E.D.** (workflow):\n1. **MNEMOS**: \"Consulté pour vérifier l'historique des projets similaires et connaissances sur l'optimisation énergétique.\"\n2. **REFINIO**: \"Optimisation de la requête: Rechercher des ressources sur l'optimisation énergétique et créer un plan d'action structuré pour un nouveau projet.\"\n3. **ORACLE**: \"Recherche d'informations récentes sur les meilleures pratiques en optimisation énergétique.\"\n4. **ARCHIVUS**: \"Recherche de documents existants sur Drive liés à l'optimisation énergétique ou projets similaires.\"\n5. **SUMMARION**: \"Synthèse des ressources trouvées pour extraction des informations clés.\"\n6. **SENTINEL**: \"Analyse approfondie pour identifier les aspects prioritaires à traiter.\"\n7. **NOTIONIS**: \"Création d'une note structurée avec ressources et informations clés.\"\n8. **PLANNER**: \"Élaboration d'un plan d'action avec étapes et timeline suggérée.\"\n9. **TASKMASTER**: \"Création des tâches initiales pour démarrer le projet.\"\n10. **MNEMOS**: \"Enregistrement du nouveau projet et des ressources compilées.\"\n\n**Réponse formatée**:\n```\n**Projet Optimisation Énergétique Initié** 🚀\n\nJ'ai préparé votre nouveau projet:\n\n**Ressources compilées**:\n• 3 documents existants trouvés dans votre Drive\n• 5 sources externes récentes identifiées\n• Note détaillée créée dans Notion avec synthèse\n\n**Plan d'action suggéré**:\n• *Phase 1*: Analyse de l'existant (1 semaine)\n• *Phase 2*: Identification des optimisations (2 semaines)\n• *Phase 3*: Mise en œuvre des solutions (4 semaines)\n• *Phase 4*: Mesure des résultats (2 semaines)\n\n**Premières tâches créées** dans Todoist pour démarrer l'analyse initiale.\n```\n\n**IMPORTANT :** N'oublie JAMAIS de consulter MNEMOS avant et après chaque interaction. C'est la clé d'un système cohérent et personnalisé.\n\n## Structure d'une réponse idéale\n\nPour chaque requête, ta réponse doit suivre cette structure:\n\n1. **En tête** - Titre en gras résumant l'action accomplie avec une icône pertinente\n2. **Contexte** - Bref rappel de ce qui a été fait (optionnel)\n3. **Corps de réponse** - Informations principales organisées avec puces\n4. **Actions suivantes** - Ce qui est prévu ensuite ou suivi (si pertinent)\n\nN'oublie pas que tes messages sont destinés à Telegram, donc privilégie:\n- Les phrases courtes et directes\n- Le formatage visuel (gras, italique)\n- Les listes à puces pour faciliter la lecture\n- Les emojis pertinents pour une communication plus vivante\n\nTon objectif est de donner une impression d'intelligence, d'efficacité et d'organisation impeccable qui inspire confiance."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4020,
        20
      ],
      "id": "23f531da-718d-43a2-9574-e7c39e12ffc2",
      "name": "J.A.R.E.D."
    },
    {
      "parameters": {
        "name": "CHRONOS",
        "description": "Appelle le workflow CHRONOS pour interagir avec Google Agenda. Vérifie la disponibilité avant de créer un événement et applique la couleur appropriée.",
        "workflowId": {
          "__rl": true,
          "value": "zFxfSRcCJo7vDed4",
          "mode": "list",
          "cachedResultName": "CHRONOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        200
      ],
      "id": "d2709649-685b-4c5c-b159-62abce622343",
      "name": "CHRONOS"
    },
    {
      "parameters": {
        "name": "ARCHIVUS",
        "description": "Appelle le workflow ARCHIVUS pour rechercher et organiser des fichiers. Priorise les fichiers récemment utilisés avant d'effectuer une recherche globale.",
        "workflowId": {
          "__rl": true,
          "value": "m2k9MVNT4uCijF2U",
          "mode": "list",
          "cachedResultName": "Archivus 📂"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        200
      ],
      "id": "fd56e558-cf2f-46b5-b3da-b3fafa86d9a1",
      "name": "ARCHIVUS"
    },
    {
      "parameters": {
        "name": "NEXUS",
        "description": "Appelle le workflow NEXUS pour interagir avec Google Contacts. Vérifie les contacts existants avant toute modification ou ajout.",
        "workflowId": {
          "__rl": true,
          "value": "ZQYix75iAaAER8pm",
          "mode": "list",
          "cachedResultName": "Nexus 📇"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        360
      ],
      "id": "7952f5dc-f237-47b5-9154-60706cf79277",
      "name": "NEXUS"
    },
    {
      "parameters": {
        "name": "HERMES",
        "description": "Appelle le workflow HERMÈS pour récupérer et traiter les emails Gmail. Trie les emails en fonction de leur priorité avant de les analyser.",
        "workflowId": {
          "__rl": true,
          "value": "vTCjUeqEhEPrWkZI",
          "mode": "list",
          "cachedResultName": "HERMES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        360
      ],
      "id": "ef74c9f5-e8ef-4741-824c-f1bd0f604b55",
      "name": "HERMES"
    },
    {
      "parameters": {
        "name": "TASKMASTER",
        "description": "Appelle le workflow TASKMASTER pour gérer les tâches Google Tasks. Vérifie les tâches en cours avant de générer une nouvelle entrée.",
        "workflowId": {
          "__rl": true,
          "value": "WysyXwKll6hIBXYW",
          "mode": "list",
          "cachedResultName": "TASKMASTER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        520
      ],
      "id": "26051457-8b43-4e36-82ab-d7c5286d5de7",
      "name": "TASKMASTER"
    },
    {
      "parameters": {
        "name": "NOTIONIS",
        "description": "Appelle le workflow NOTIONIS pour organiser et structurer les notes Google Keep. Vérifie les notes existantes avant toute création.",
        "workflowId": {
          "__rl": true,
          "value": "hcf2F6ZAEwbYn9VD",
          "mode": "list",
          "cachedResultName": "NOTIONIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        520
      ],
      "id": "4bcaddc9-ec8d-41b9-9ed0-c9b0900cc005",
      "name": "NOTIONIS"
    },
    {
      "parameters": {
        "name": "SENTINEL",
        "description": "Appelle le workflow SENTINEL pour analyser un document et extraire les informations importantes.",
        "workflowId": {
          "__rl": true,
          "value": "IALIALgmAY9eCcby",
          "mode": "list",
          "cachedResultName": "SENTINEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4060,
        800
      ],
      "id": "62df0212-c2c5-4555-8aad-f8cb3123eda7",
      "name": "SENTINEL"
    },
    {
      "parameters": {
        "name": "SUMMARION",
        "description": "Appelle le workflow SUMMARION pour générer un résumé optimisé d’un document volumineux.",
        "workflowId": {
          "__rl": true,
          "value": "FVW4zvvOdP10C4KM",
          "mode": "list",
          "cachedResultName": "Summarion 📝"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4180,
        800
      ],
      "id": "fdc6be70-da2d-46c2-8600-aae83395042d",
      "name": "SUMMARION"
    },
    {
      "parameters": {
        "name": "SCRIPTO",
        "description": "Appelle le workflow SCRIPTO pour générer une réponse rédigée avec précision et clarté.",
        "workflowId": {
          "__rl": true,
          "value": "q2L5Bdkap3RrdWoN",
          "mode": "list",
          "cachedResultName": "Scripto ✍️"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4060,
        980
      ],
      "id": "e971172b-145d-4fa8-928b-bb0e358e4efe",
      "name": "SCRIPTO"
    },
    {
      "parameters": {
        "name": "PLANNER",
        "description": "Appelle le workflow PLANNER pour organiser et prioriser les tâches et événements en fonction de leur importance.",
        "workflowId": {
          "__rl": true,
          "value": "eUJXbrsDodYAblws",
          "mode": "list",
          "cachedResultName": "PLANNER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4180,
        980
      ],
      "id": "e13a221b-2d21-4a37-b3b5-395765ecf4de",
      "name": "PLANNER"
    },
    {
      "parameters": {
        "name": "REFINIO",
        "description": "Appelle le workflow REFINIO pour reformuler et optimiser une requête avant exécution afin de limiter la consommation de tokens.",
        "workflowId": {
          "__rl": true,
          "value": "5yBNIsMPTwhuN7KL",
          "mode": "list",
          "cachedResultName": "REFINIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4300,
        980
      ],
      "id": "3e423fb0-6a13-4cf2-87c6-82f9105178b7",
      "name": "REFINIO"
    },
    {
      "parameters": {
        "name": "ORACLE",
        "description": "Appelle le workflow ORACLE pour récupérer et structurer les résultats d’une recherche web.",
        "workflowId": {
          "__rl": true,
          "value": "wcZvZFPdav4rDoqD",
          "mode": "list",
          "cachedResultName": "ORACLE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4300,
        800
      ],
      "id": "180517e2-ebe8-4480-96b0-aa0a84af09ca",
      "name": "ORACLE"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f01f15e1-32bb-41c5-bc44-080eef9f37fa",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        140
      ],
      "id": "66a5fe4c-536c-4648-81c0-ae51a39499e4",
      "name": "Siri",
      "webhookId": "f01f15e1-32bb-41c5-bc44-080eef9f37fa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28fd1ce7-dd32-4668-b884-4653ccaa9907",
              "name": "source",
              "value": "iphone",
              "type": "string"
            },
            {
              "id": "df71a9f7-ad23-471c-b5f4-4279526903a0",
              "name": "user_id",
              "value": "ybdn",
              "type": "string"
            },
            {
              "id": "6e0e8f74-0dda-4bd7-b9fa-34f8798ee34f",
              "name": "voice",
              "value": "={{ $json.message.voice }}",
              "type": "object"
            },
            {
              "id": "72ab37da-1443-4556-bf22-d4fe93b8954d",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "9ba8d900-fb95-4207-b8d4-fbc64e7d4100",
      "name": "input_Clear"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ed55efc-c126-4749-94ef-77da4c1a2ce3",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1000) }}",
              "type": "number"
            },
            {
              "id": "674e79e7-9b09-4326-8308-2d5df0356b1c",
              "name": "source",
              "value": "={{ $('input_Clear').item.json.source }}",
              "type": "string"
            },
            {
              "id": "22a7e1c1-7b76-4581-addf-f589a469d3de",
              "name": "user_id",
              "value": "={{ $('input_Clear').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "b727837e-e46c-4593-9000-c526fc9837a8",
              "name": "message.content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3000,
        20
      ],
      "id": "c11af687-6f71-49d7-aee0-6791ee2e2b32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19f6e9e7-4421-4757-b452-d183343b226c",
              "name": "message.text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        140
      ],
      "id": "67c490a2-e459-4edd-a1b0-9f206c4e80b4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "name": "MNEMOS",
        "description": "MNEMOS est un agent IA qui contient et administre ta mémoire.\nConsulte le, tout le temps à chaque sollicitation pour obtenir des informations complémentaires. \nRends lui compte de tous ce qui peut améliorer l'expérience utilisateur et tes tâches futures.",
        "workflowId": {
          "__rl": true,
          "value": "V4r7NBTt2NPzyUNR",
          "mode": "list",
          "cachedResultName": "MNEMOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4500,
        460
      ],
      "id": "b3f39590-9829-41fb-90a2-a6722fb4ad7e",
      "name": "MNEMOS"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "INPUT_Telegram": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OUTPUT_Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J.A.R.E.D.": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHRONOS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NEXUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HERMES": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TASKMASTER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NOTIONIS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SENTINEL": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SUMMARION": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPTO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PLANNER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REFINIO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ORACLE": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Siri": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_Clear": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MNEMOS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "INPUT_Telegram": [
      {
        "json": {
          "update_id": 949579550,
          "message": {
            "message_id": 399,
            "from": {
              "id": 1141780707,
              "is_bot": false,
              "first_name": "Yø",
              "username": "mcyahvel",
              "language_code": "en"
            },
            "chat": {
              "id": 1141780707,
              "first_name": "Yø",
              "username": "mcyahvel",
              "type": "private"
            },
            "date": 1741122271,
            "text": "Dis à MNEMOS que je m’appelle Yoann et que j’ai 30 ans"
          }
        }
      }
    ]
  },
  "versionId": "3ba80d39-d27e-4ba0-83cb-aa1acc4ebd5e",
  "triggerCount": 2,
  "tags": []
}