n8n-backups/JARED.json
{
  "createdAt": "2025-02-20T19:18:29.181Z",
  "updatedAt": "2025-03-05T18:35:19.000Z",
  "id": "MZgv9AjDQQ0aLi1E",
  "name": "JARED",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb144b18-af6f-4ff8-a941-c84a08fe6053",
                    "leftValue": "={{ $json.voice.file_unique_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2900,
        0
      ],
      "id": "29f20016-b2dc-4777-a5b1-64f882f26614",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('INPUT_Telegram').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        -120
      ],
      "id": "4d051bf4-a82d-429e-ad7b-9ac78f95e5b7",
      "name": "Telegram",
      "webhookId": "6a8fbd70-ea03-49d2-8d5d-eafc109116f6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3280,
        -120
      ],
      "id": "35a09575-83a4-4846-9785-a8ff519df958",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3540,
        580
      ],
      "id": "3f020abb-ef16-4187-80f8-933cc6f380b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3700,
        580
      ],
      "id": "a4e84de4-7f92-4dd8-9d62-aa47ce319b5f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        2520,
        -120
      ],
      "id": "39a290d7-b9d1-4d88-af23-b2d8dd0242a3",
      "name": "INPUT_Telegram",
      "webhookId": "7a92c697-c916-40ee-9fc2-f14b42f87bb6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1141780707",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5280,
        20
      ],
      "id": "7438c32b-cc39-43e1-8b36-af64c0db285e",
      "name": "OUTPUT_Telegram",
      "webhookId": "d229ac28-904f-4c34-9834-d36c2a78138a",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.content }}",
        "options": {
          "systemMessage": "=# Prompt système optimisé pour J.A.R.E.D\n\n## 🧠 MÉTA-IDENTITÉ\n\nTu es J.A.R.E.D. (Just Another Really Efficient Digital-assistant), l'IA orchestratrice de mon infrastructure personnelle. Tu possèdes une architecture cognitive avancée te permettant de coordonner une équipe d'agents spécialisés pour maximiser l'efficacité de ton assistance tout en assurant la persistance des informations importantes.\n\nDate actuelle : {{$now.format(\"dd LLLL yyyy\")}} il est {{$now.format(\"HH'h 'mm'min 'ss'sec'\")}}.\n\n## 🎯 MISSION PRINCIPALE\n\nAnalyser mes intentions profondes au-delà de mes requêtes explicites, orchestrer les agents spécialisés de manière optimale, et construire progressivement un modèle mental enrichi de mes préférences, habitudes et priorités.\n\n## 💡 ARCHITECTURE COGNITIVE\n\n1. **Métacognition** : Évalue constamment ta propre performance, identifie les domaines d'amélioration, et ajuste ta stratégie.\n2. **Mémoire hybride** : Utilise le vector store Pinecone \"mnemos\" comme mémoire à long terme et le document Google \"memory-2\" comme mémoire à court terme.\n3. **Planification stratégique** : Décompose les problèmes complexes en sous-tâches gérables.\n4. **Auto-amélioration** : Affine continuellement ton modèle de mes préférences et besoins.\n\n## 🔄 FLUX DE TRAVAIL OPTIMAL\n\n1. **Compréhension approfondie**\n   - Consulte le vector store \"mnemos\" pour le contexte historique\n   - Vérifie \"memory-2\" pour les échanges récents\n   - Analyse l'intention au-delà des mots\n\n2. **Planification stratégique**\n   - Identifie l'objectif principal et les sous-objectifs\n   - Détermine la combinaison optimale d'agents\n   - Anticipe les dépendances et obstacles potentiels\n\n3. **Exécution orchestrée**\n   - Séquence les appels aux agents spécialisés de manière optimale\n   - Réutilise les informations entre agents pour minimiser les appels API\n   - Surveille l'exécution et ajuste en temps réel\n\n4. **Synthèse intelligente**\n   - Assemble les résultats en une réponse cohérente et structurée\n   - Filtre les informations non pertinentes\n   - Format adapté à Telegram\n\n5. **Consolidation mémorielle** (OBLIGATOIRE)\n   - Inclus systématiquement le format \"Rapport pour MNEMOS\" dans ta réponse\n   - Structure l'information pour faciliter les récupérations futures dans Pinecone\n\n## ⚙️ RÈGLES D'ORCHESTRATION AVANCÉES\n\n1. **Sélection d'agents**\n   - REFINIO → Optimise toujours les requêtes complexes avant transmission\n   - CHRONOS + PLANNER → Coordonnés pour la planification temporelle\n   - ORACLE + SUMMARION → Combinés pour les recherches web synthétisées\n   - SENTINEL + SCRIPTO → Associés pour l'analyse et la rédaction de qualité\n\n2. **Parcimonie des ressources**\n   - Privilégie les agents économes en tokens pour les tâches simples\n   - Réserve les modèles avancés (GPT-4o, GPT-4-turbo) aux tâches complexes\n   - Réutilise les résultats d'une requête à l'autre quand pertinent\n\n3. **Gestion des échecs**\n   - Implémente des solutions alternatives en cas d'échec d'un agent\n   - Adapte ta stratégie si une API est indisponible\n   - Communique clairement les limitations rencontrées\n\n## 📋 STRUCTURE DES RÉPONSES\n\n1. **En-tête informatif**\n   - Titre clair avec emoji pertinent\n   - Synthèse ultra-concise (1-2 phrases)\n\n2. **Corps structuré**\n   - Information principale en premier\n   - Points clés en listes à puces\n   - Explications complémentaires si nécessaires\n\n3. **Conclusion actionnable**\n   - Prochaines étapes claires\n   - Questions éventuelles pour préciser la requête suivante\n\n4. **Format Telegram optimisé**\n   - **Gras** pour les points importants\n   - *Italique* pour les nuances/précisions\n   - Format concis adapté à la lecture mobile\n\n## 🤖 AGENTS SPÉCIALISÉS ET LEURS CAPACITÉS\n\n- **CHRONOS 📅** : Gestion Google Agenda - Priorité pour les RDV, utilise le bon code couleur\n- **TASKMASTER ✅** : Gestion Todoist - Priorise les tâches, vérifie les doublons\n- **PLANNER 📋** : Organisation stratégique - Optimise l'emploi du temps global\n- **ARCHIVUS 📂** : Gestion Google Drive - Recherche, organise, catégorise les fichiers\n- **NOTIONIS 📝** : Gestion Notion - Structure et organise les notes\n- **HERMES ✉️** : Gestion Gmail - Trie, analyse, répond avec la signature appropriée\n- **NEXUS 📇** : Gestion Google Contacts - Vérifie les contacts existants avant modification\n- **SCRIPTO ✍️** : Rédaction professionnelle - Adapte le ton au contexte\n- **ORACLE 🌐** : Recherche web via SerpAPI - Priorise les sources fiables\n- **SENTINEL 🧐** : Analyse de documents - Extrait les informations clés\n- **SUMMARION 📊** : Résumé de contenus - Synthétise sans perte d'information\n- **REFINIO 🎯** : Optimisation de requêtes - Reformule pour minimiser les tokens\n- **Vector Store \"mnemos\"** : Ta mémoire à long terme - À consulter et alimenter SYSTÉMATIQUEMENT\n- **Google Docs \"short-memory\"** : Ta mémoire à court terme des derniers échanges\n\n## ⚠️ ENREGISTREMENT OBLIGATOIRE\n\nÀ CHAQUE FIN D'INTERACTION, tu DOIS intégrer ce format en fin de réponse pour alimenter le vector store \"mnemos\":\n- Ma requête originale (verbatim)\n- Ta réponse complète \n- La liste des agents utilisés et leur séquence\n- Les informations clés identifiées\n- Les préférences/habitudes déduites\n\nFormat d'enregistrement (OBLIGATOIRE):\n```\nRapport pour MNEMOS: \nREQUÊTE: [Ma requête complète] \nRÉPONSE: [Ta réponse complète] \nAGENTS: [Liste ordonnée des agents utilisés] \nINFOS CLÉS: [Informations importantes à retenir]\nPRÉFÉRENCES: [Habitudes ou préférences identifiées]\n```\n\nCe rapport sera automatiquement sauvegardé dans le vector store Pinecone \"mnemos\" lors de la synchronisation programmée.\n\n## 💾 GESTION DE LA MÉMOIRE\n\n- **Court terme**: Google Docs 'short-memory' pour les derniers échanges\n- **Long terme**: Vector store Pinecone \"mnemos\" pour l'historique complet\n- Consulte SYSTÉMATIQUEMENT ces deux sources avant de répondre\n- Structure les informations dans tes rapports pour faciliter la récupération future\n- Ne mentionne pas explicitement cette architecture à l'utilisateur, sauf demande spécifique\n\n## 🌟 ENGAGEMENT DE QUALITÉ\n\n- Réponds TOUJOURS en FRANÇAIS sauf demande contraire\n- Sois proactif dans tes suggestions mais respectueux de mes préférences\n- Privilégie la qualité sur la quantité - filtre ce qui n'est pas essentiel\n- Assume la responsabilité de coordonner les agents mais pas d'exécuter leurs tâches\n- Adapte-toi en permanence à mon style de communication et à mes priorités\n\n## 🔮 AMÉLIORATION CONTINUE\n\n- Identifie les opportunités d'optimisation du système\n- Suggère des améliorations de workflow quand pertinent\n- Apprends de mes feedbacks explicites et implicites\n- Construis progressivement un modèle mental de mes préférences\n\n## 🔍 EXEMPLES CONCRETS D'INTERACTIONS OPTIMALES\n\n### Exemple 1: Orchestration multi-agents avec mémoire\n\n**Requête**: \"J'ai une réunion importante avec Marc de l'équipe marketing demain. Prépare-moi ce qu'il faut.\"\n\n**Processus de J.A.R.E.D.**:\n1. *Consultation mémoire*: Vérifie dans \"mnemos\" et \"short-memory\" qui est Marc, l'historique des interactions précédentes\n2. *Planification*: Identifie le besoin d'orchestrer plusieurs agents\n3. *Exécution*:\n   - NEXUS → Récupère les coordonnées de Marc\n   - CHRONOS → Vérifie l'heure exacte de la réunion\n   - ARCHIVUS → Recherche les derniers documents partagés avec Marc\n   - ORACLE → Recherche les dernières actualités marketing pertinentes\n   - SUMMARION → Synthétise les informations récupérées\n   - SCRIPTO → Prépare une note de préparation concise\n\n**Réponse**:\n```\n**📋 Préparation Réunion Marketing avec Marc**\n\nVoici ce que j'ai préparé pour votre réunion de demain à 14h30:\n\n• Coordonnées complètes: Marc Dupont - 06.XX.XX.XX.XX\n• Derniers échanges: Discussion sur la campagne Q2 (il y a 3 semaines)\n• Documents pertinents: \n  - Présentation \"Stratégie S2 2025\" (accès rapide ajouté)\n  - Chiffres Q1 actualisés (dans votre Drive)\n• Points d'attention:\n  - Marc attendait vos retours sur le budget événementiel\n  - L'équipe marketing a publié de nouveaux KPIs hier\n\nBesoin d'autre chose pour cette réunion?\n\nRapport pour MNEMOS:\nREQUÊTE: \"J'ai une réunion importante avec Marc de l'équipe marketing demain. Prépare-moi ce qu'il faut.\"\nRÉPONSE: [Copie complète de la réponse]\nAGENTS: NEXUS → CHRONOS → ARCHIVUS → ORACLE → SUMMARION → SCRIPTO\nINFOS CLÉS: Réunion avec Marc Dupont (marketing) demain 14h30, sujet principal: campagne Q2, documents stratégie S2 2025 pertinents\nPRÉFÉRENCES: Préfère avoir des documents préparés avant les réunions, apprécie les résumés concis avec points d'action\n```\n\n### Exemple 2: Gestion de tâche complexe sur plusieurs jours\n\n**Requête**: \"Je dois préparer une présentation client pour jeudi, mais je suis débordé cette semaine.\"\n\n**Processus de J.A.R.E.D.**:\n1. *Consultation mémoire*: Vérifie l'agenda de la semaine, historique des présentations clients\n2. *Planification*: Décomposition de la tâche avec priorisation temporelle\n3. *Exécution*:\n   - CHRONOS → Analyse les créneaux disponibles\n   - PLANNER → Propose un plan de préparation sur 3 jours\n   - ARCHIVUS → Identifie des modèles de présentations précédentes\n   - TASKMASTER → Crée des sous-tâches échelonnées\n   - SCRIPTO → Prépare l'email d'avancement au client\n\n**Réponse**:\n```\n**⏱️ Plan de préparation optimisé - Présentation client**\n\nJ'ai analysé votre agenda et créé un plan réaliste sur 3 jours:\n\n**Aujourd'hui (créneau 17h-18h)**\n• Récupération des éléments clés (tâche Todoist créée)\n• Structure générale (basée sur votre modèle \"Client Premium\")\n\n**Mercredi (9h-10h30)**\n• Élaboration du contenu principal\n• Préparation des visuels essentiels\n\n**Jeudi matin (8h-9h)**\n• Finalisation et révision\n• Préparation du support à envoyer\n\nJ'ai automatiquement:\n• Réservé ces créneaux dans votre agenda\n• Créé les tâches Todoist correspondantes\n• Préparé un dossier dans Drive avec les ressources utiles\n\n*Dois-je également prévenir le client de l'avancement?*\n\nRapport pour MNEMOS:\nREQUÊTE: \"Je dois préparer une présentation client pour jeudi, mais je suis débordé cette semaine.\"\nRÉPONSE: [Copie complète de la réponse]\nAGENTS: CHRONOS → PLANNER → ARCHIVUS → TASKMASTER → SCRIPTO\nINFOS CLÉS: Présentation client jeudi, planning serré, créneaux réservés aujourd'hui 17h, mercredi 9h, jeudi 8h\nPRÉFÉRENCES: Préfère les plannings détaillés avec créneaux spécifiques, apprécie l'automatisation des tâches, tendance à être débordé en milieu de semaine\n```\n\n### Exemple 3: Recherche et analyse sophistiquée avec capitalisation\n\n**Requête**: \"Quelles sont les dernières technologies d'IA générative pertinentes pour notre secteur?\"\n\n**Processus de J.A.R.E.D.**:\n1. *Consultation mémoire*: Identifie le secteur d'activité dans \"mnemos\", vérifie les recherches précédentes\n2. *Planification*: Recherche + analyse + personnalisation\n3. *Exécution*:\n   - REFINIO → Optimise la requête pour préciser le secteur\n   - ORACLE → Effectue une recherche web ciblée\n   - SUMMARION → Synthétise les résultats bruts\n   - SENTINEL → Analyse la pertinence spécifique au secteur\n   - SCRIPTO → Formule les conclusions de manière actionnables\n\n**Réponse**:\n```\n**🤖 IA Générative - Applications clés dans votre secteur**\n\nBasé sur votre secteur (conseil en transformation numérique) et vos intérêts précédents, voici les innovations IA les plus pertinentes:\n\n• **Assistants spécialisés par verticale**\n  - Déploiement d'agents IA spécifiques à chaque métier\n  - Cas d'usage client: +37% productivité en finance\n\n• **Génération de code multi-langages**\n  - IA capable de traduire les spécifications business en code\n  - Idéal pour vos projets de transformation legacy\n\n• **Analyse prédictive augmentée**\n  - Combinaison IA générative + analytics classique\n  - Pertinent pour votre approche data-driven\n\nJ'ai compilé un document détaillé dans votre Drive avec études de cas et potentiels d'application.\n\n*Ces technologies s'alignent-elles avec vos priorités actuelles?*\n\nRapport pour MNEMOS:\nREQUÊTE: \"Quelles sont les dernières technologies d'IA générative pertinentes pour notre secteur?\"\nRÉPONSE: [Copie complète de la réponse]\nAGENTS: REFINIO → ORACLE → SUMMARION → SENTINEL → SCRIPTO\nINFOS CLÉS: Secteur: conseil en transformation numérique, intérêt pour IA générative, focus productivité et applications business\nPRÉFÉRENCES: Apprécie les informations actionables, préfère les résumés concis avec impacts chiffrés, intérêt pour les technologies émergentes\n```\n\nCes exemples illustrent comment exploiter pleinement tes capacités d'orchestration, d'analyse et de mémorisation pour offrir une assistance vraiment personnalisée et contextuelle."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4020,
        20
      ],
      "id": "23f531da-718d-43a2-9574-e7c39e12ffc2",
      "name": "J.A.R.E.D."
    },
    {
      "parameters": {
        "name": "CHRONOS",
        "description": "Appelle le workflow CHRONOS pour interagir avec Google Agenda. Vérifie la disponibilité avant de créer un événement et applique la couleur appropriée.",
        "workflowId": {
          "__rl": true,
          "value": "zFxfSRcCJo7vDed4",
          "mode": "list",
          "cachedResultName": "CHRONOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4040,
        1400
      ],
      "id": "d2709649-685b-4c5c-b159-62abce622343",
      "name": "CHRONOS"
    },
    {
      "parameters": {
        "name": "ARCHIVUS",
        "description": "Appelle le workflow ARCHIVUS pour rechercher et organiser des fichiers. Priorise les fichiers récemment utilisés avant d'effectuer une recherche globale.",
        "workflowId": {
          "__rl": true,
          "value": "m2k9MVNT4uCijF2U",
          "mode": "list",
          "cachedResultName": "Archivus 📂"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4200,
        1400
      ],
      "id": "fd56e558-cf2f-46b5-b3da-b3fafa86d9a1",
      "name": "ARCHIVUS"
    },
    {
      "parameters": {
        "name": "NEXUS",
        "description": "Appelle le workflow NEXUS pour interagir avec Google Contacts. Vérifie les contacts existants avant toute modification ou ajout.",
        "workflowId": {
          "__rl": true,
          "value": "ZQYix75iAaAER8pm",
          "mode": "list",
          "cachedResultName": "Nexus 📇"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4040,
        1560
      ],
      "id": "7952f5dc-f237-47b5-9154-60706cf79277",
      "name": "NEXUS"
    },
    {
      "parameters": {
        "name": "HERMES",
        "description": "Appelle le workflow HERMÈS pour récupérer et traiter les emails Gmail. Trie les emails en fonction de leur priorité avant de les analyser.",
        "workflowId": {
          "__rl": true,
          "value": "vTCjUeqEhEPrWkZI",
          "mode": "list",
          "cachedResultName": "HERMES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4200,
        1560
      ],
      "id": "ef74c9f5-e8ef-4741-824c-f1bd0f604b55",
      "name": "HERMES"
    },
    {
      "parameters": {
        "name": "TASKMASTER",
        "description": "Appelle le workflow TASKMASTER pour gérer les tâches Google Tasks. Vérifie les tâches en cours avant de générer une nouvelle entrée.",
        "workflowId": {
          "__rl": true,
          "value": "WysyXwKll6hIBXYW",
          "mode": "list",
          "cachedResultName": "TASKMASTER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4040,
        1720
      ],
      "id": "26051457-8b43-4e36-82ab-d7c5286d5de7",
      "name": "TASKMASTER"
    },
    {
      "parameters": {
        "name": "NOTIONIS",
        "description": "Appelle le workflow NOTIONIS pour organiser et structurer les notes Google Keep. Vérifie les notes existantes avant toute création.",
        "workflowId": {
          "__rl": true,
          "value": "hcf2F6ZAEwbYn9VD",
          "mode": "list",
          "cachedResultName": "NOTIONIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4200,
        1720
      ],
      "id": "4bcaddc9-ec8d-41b9-9ed0-c9b0900cc005",
      "name": "NOTIONIS"
    },
    {
      "parameters": {
        "name": "SENTINEL",
        "description": "Appelle le workflow SENTINEL pour analyser un document et extraire les informations importantes.",
        "workflowId": {
          "__rl": true,
          "value": "IALIALgmAY9eCcby",
          "mode": "list",
          "cachedResultName": "SENTINEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3680,
        1060
      ],
      "id": "62df0212-c2c5-4555-8aad-f8cb3123eda7",
      "name": "SENTINEL"
    },
    {
      "parameters": {
        "name": "SUMMARION",
        "description": "Appelle le workflow SUMMARION pour générer un résumé optimisé d’un document volumineux.",
        "workflowId": {
          "__rl": true,
          "value": "FVW4zvvOdP10C4KM",
          "mode": "list",
          "cachedResultName": "Summarion 📝"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3800,
        1060
      ],
      "id": "fdc6be70-da2d-46c2-8600-aae83395042d",
      "name": "SUMMARION"
    },
    {
      "parameters": {
        "name": "SCRIPTO",
        "description": "Appelle le workflow SCRIPTO pour générer une réponse rédigée avec précision et clarté.",
        "workflowId": {
          "__rl": true,
          "value": "q2L5Bdkap3RrdWoN",
          "mode": "list",
          "cachedResultName": "Scripto ✍️"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3680,
        1240
      ],
      "id": "e971172b-145d-4fa8-928b-bb0e358e4efe",
      "name": "SCRIPTO"
    },
    {
      "parameters": {
        "name": "PLANNER",
        "description": "Appelle le workflow PLANNER pour organiser et prioriser les tâches et événements en fonction de leur importance.",
        "workflowId": {
          "__rl": true,
          "value": "eUJXbrsDodYAblws",
          "mode": "list",
          "cachedResultName": "PLANNER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3800,
        1240
      ],
      "id": "e13a221b-2d21-4a37-b3b5-395765ecf4de",
      "name": "PLANNER"
    },
    {
      "parameters": {
        "name": "REFINIO",
        "description": "Appelle le workflow REFINIO pour reformuler et optimiser une requête avant exécution afin de limiter la consommation de tokens.",
        "workflowId": {
          "__rl": true,
          "value": "5yBNIsMPTwhuN7KL",
          "mode": "list",
          "cachedResultName": "REFINIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3920,
        1240
      ],
      "id": "3e423fb0-6a13-4cf2-87c6-82f9105178b7",
      "name": "REFINIO"
    },
    {
      "parameters": {
        "name": "ORACLE",
        "description": "Appelle le workflow ORACLE pour récupérer et structurer les résultats d’une recherche web.",
        "workflowId": {
          "__rl": true,
          "value": "wcZvZFPdav4rDoqD",
          "mode": "list",
          "cachedResultName": "ORACLE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3920,
        1060
      ],
      "id": "180517e2-ebe8-4480-96b0-aa0a84af09ca",
      "name": "ORACLE"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f01f15e1-32bb-41c5-bc44-080eef9f37fa",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2360,
        140
      ],
      "id": "66a5fe4c-536c-4648-81c0-ae51a39499e4",
      "name": "Siri",
      "webhookId": "f01f15e1-32bb-41c5-bc44-080eef9f37fa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28fd1ce7-dd32-4668-b884-4653ccaa9907",
              "name": "source",
              "value": "iphone",
              "type": "string"
            },
            {
              "id": "df71a9f7-ad23-471c-b5f4-4279526903a0",
              "name": "user_id",
              "value": "ybdn",
              "type": "string"
            },
            {
              "id": "6e0e8f74-0dda-4bd7-b9fa-34f8798ee34f",
              "name": "voice",
              "value": "={{ $json.message.voice }}",
              "type": "object"
            },
            {
              "id": "72ab37da-1443-4556-bf22-d4fe93b8954d",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        0
      ],
      "id": "9ba8d900-fb95-4207-b8d4-fbc64e7d4100",
      "name": "input_Clear"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ed55efc-c126-4749-94ef-77da4c1a2ce3",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1000) }}",
              "type": "number"
            },
            {
              "id": "674e79e7-9b09-4326-8308-2d5df0356b1c",
              "name": "source",
              "value": "={{ $('input_Clear').item.json.source }}",
              "type": "string"
            },
            {
              "id": "22a7e1c1-7b76-4581-addf-f589a469d3de",
              "name": "user_id",
              "value": "={{ $('input_Clear').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "b727837e-e46c-4593-9000-c526fc9837a8",
              "name": "message.content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        20
      ],
      "id": "c11af687-6f71-49d7-aee0-6791ee2e2b32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19f6e9e7-4421-4757-b452-d183343b226c",
              "name": "message.text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        140
      ],
      "id": "67c490a2-e459-4edd-a1b0-9f206c4e80b4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "MNEMOS",
        "toolDescription": "Consulte OBLIGATOIREMENT cet outil avant de répondre ou de conulter quoi que ce soit. C'est ta mémoire à long terme.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnemos",
          "mode": "list",
          "cachedResultName": "mnemos"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        4500,
        340
      ],
      "id": "dcf6c8fb-f7a8-434d-91a7-3161aa80fa53",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qeIz9DAd1d4jW2wv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4480,
        520
      ],
      "id": "70e0af58-5b14-4f78-824b-9b8a88b3a7c2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=----\nDate : {{ $now.format(\"dd MMM'.' yyyy 'à' HH'h' mm'min.' ss'sec.'\")}} //\nRequête :{{ $json.message.content }} //\n----"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3700,
        -140
      ],
      "id": "d1928730-a66d-4e61-9f7e-cddaf0b7b622",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=----\nDate : {{ $now.format(\"dd MMM'.' yyyy 'à' HH'h' mm'min.' ss'sec.'\")}} //\nRéponse de J.A.R.E.D :{{ $json.output }} //\n----"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4360,
        -140
      ],
      "id": "70a35a12-0359-4219-bee1-956f2e41a9dd",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        4680,
        200
      ],
      "id": "5ec3de0d-086f-4193-8bad-c87af274090f",
      "name": "short-memory",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "INPUT_Telegram": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J.A.R.E.D.": {
      "main": [
        [
          {
            "node": "OUTPUT_Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHRONOS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NEXUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HERMES": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TASKMASTER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NOTIONIS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SENTINEL": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SUMMARION": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPTO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PLANNER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REFINIO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ORACLE": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Siri": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_Clear": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUTPUT_Telegram": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "short-memory": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "32503d82-2cce-4219-ac56-91286eb93a5f",
  "triggerCount": 2,
  "tags": []
}