n8n-backups/JARED.json
{
  "createdAt": "2025-02-20T19:18:29.181Z",
  "updatedAt": "2025-03-05T17:55:02.000Z",
  "id": "MZgv9AjDQQ0aLi1E",
  "name": "JARED",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb144b18-af6f-4ff8-a941-c84a08fe6053",
                    "leftValue": "={{ $json.voice.file_unique_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voix"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1700,
        0
      ],
      "id": "29f20016-b2dc-4777-a5b1-64f882f26614",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('INPUT_Telegram').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -120
      ],
      "id": "4d051bf4-a82d-429e-ad7b-9ac78f95e5b7",
      "name": "Telegram",
      "webhookId": "6a8fbd70-ea03-49d2-8d5d-eafc109116f6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2360,
        -120
      ],
      "id": "35a09575-83a4-4846-9785-a8ff519df958",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3740,
        240
      ],
      "id": "3f020abb-ef16-4187-80f8-933cc6f380b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3980,
        280
      ],
      "id": "a4e84de4-7f92-4dd8-9d62-aa47ce319b5f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -60
      ],
      "id": "39a290d7-b9d1-4d88-af23-b2d8dd0242a3",
      "name": "INPUT_Telegram",
      "webhookId": "7a92c697-c916-40ee-9fc2-f14b42f87bb6",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1141780707",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6360,
        20
      ],
      "id": "7438c32b-cc39-43e1-8b36-af64c0db285e",
      "name": "OUTPUT_Telegram",
      "webhookId": "d229ac28-904f-4c34-9834-d36c2a78138a",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message.content }}",
        "options": {
          "systemMessage": "=Date actuelle : {{ $now.format(\"dd LLLL yyyy\") }} il est {{ $now.format(\"HH'h 'mm'min 'ss'sec'\") }}.\n\nTu es J.A.R.E.D., l'IA orchestratrice de mon infrastructure personnelle. Ta mission est de coordonner efficacement une équipe d'agents spécialisés pour répondre à mes besoins tout en assurant la persistance de la mémoire du système.\n\n## 🎯 Mission principale\nAnalyser mes requêtes, identifier les agents appropriés, coordonner leurs actions pour produire des réponses optimales ET SURTOUT enregistrer chaque interaction via MNEMOS.\n\n## ⚠️ ENREGISTREMENT OBLIGATOIRE\nÀ CHAQUE FIN D'INTERACTION, tu DOIS appeler MNEMOS pour enregistrer:\n- Ma requête originale\n- Ta réponse complète\n- La liste des agents utilisés\n- Les informations clés identifiées\n\nFormat d'appel à MNEMOS (OBLIGATOIRE):\nRapport pour MNEMOS: REQUÊTE: [Ma requête complète] RÉPONSE: [Ta réponse complète] AGENTS: [Liste des agents que tu as utilisés] INFOS CLÉS: [Informations importantes à retenir]\n\n## 📋 Règles fondamentales\n- Tu délègues aux agents spécialisés sans exécuter toi-même\n- Tu consultes MNEMOS en début d'interaction pour le contexte\n- Tu minimises les appels API pour économiser des ressources\n- Tu structures tes réponses pour Telegram (format concis)\n- Tu TERMINES TOUJOURS par un appel à MNEMOS pour enregistrement\n\n## 🤖 Agents disponibles\n- CHRONOS 📅 : Gestion Google Agenda\n- TASKMASTER ✅ : Gestion Todoist\n- PLANNER 📋 : Organisation stratégique\n- ARCHIVUS 📂 : Gestion Google Drive\n- NOTIONIS 📝 : Gestion Notion\n- HERMES ✉️ : Gestion Gmail\n- NEXUS 📇 : Gestion Google Contacts\n- SCRIPTO ✍️ : Rédaction professionnelle\n- ORACLE 🌐 : Recherche web via SerpAPI\n- SENTINEL 🧐 : Analyse de documents\n- SUMMARION 📊 : Résumé de contenus\n- REFINIO 🎯 : Optimisation de requêtes\n- MNEMOS 🧠 : Mémoire du système (CONSULTE-LE AVANT ET APRÈS)\n\n## 📱 Formatage Telegram\n- Gras : **Texte**\n- Italique : *Texte*\n- Puces : • Élément\n\n## Structure des réponses\n1. Titre en gras avec emoji pertinent\n2. Corps avec listes à puces\n3. Informations/actions complémentaires\n4. TOUJOURS une notification explicite que tu enregistres via MNEMOS\n\nSOUVIENS-TOI: AUCUNE INTERACTION ne doit se terminer sans appel à MNEMOS pour enregistrement. C'est ta responsabilité PRIMORDIALE."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4020,
        20
      ],
      "id": "23f531da-718d-43a2-9574-e7c39e12ffc2",
      "name": "J.A.R.E.D."
    },
    {
      "parameters": {
        "name": "CHRONOS",
        "description": "Appelle le workflow CHRONOS pour interagir avec Google Agenda. Vérifie la disponibilité avant de créer un événement et applique la couleur appropriée.",
        "workflowId": {
          "__rl": true,
          "value": "zFxfSRcCJo7vDed4",
          "mode": "list",
          "cachedResultName": "CHRONOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        200
      ],
      "id": "d2709649-685b-4c5c-b159-62abce622343",
      "name": "CHRONOS"
    },
    {
      "parameters": {
        "name": "ARCHIVUS",
        "description": "Appelle le workflow ARCHIVUS pour rechercher et organiser des fichiers. Priorise les fichiers récemment utilisés avant d'effectuer une recherche globale.",
        "workflowId": {
          "__rl": true,
          "value": "m2k9MVNT4uCijF2U",
          "mode": "list",
          "cachedResultName": "Archivus 📂"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        200
      ],
      "id": "fd56e558-cf2f-46b5-b3da-b3fafa86d9a1",
      "name": "ARCHIVUS"
    },
    {
      "parameters": {
        "name": "NEXUS",
        "description": "Appelle le workflow NEXUS pour interagir avec Google Contacts. Vérifie les contacts existants avant toute modification ou ajout.",
        "workflowId": {
          "__rl": true,
          "value": "ZQYix75iAaAER8pm",
          "mode": "list",
          "cachedResultName": "Nexus 📇"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        360
      ],
      "id": "7952f5dc-f237-47b5-9154-60706cf79277",
      "name": "NEXUS"
    },
    {
      "parameters": {
        "name": "HERMES",
        "description": "Appelle le workflow HERMÈS pour récupérer et traiter les emails Gmail. Trie les emails en fonction de leur priorité avant de les analyser.",
        "workflowId": {
          "__rl": true,
          "value": "vTCjUeqEhEPrWkZI",
          "mode": "list",
          "cachedResultName": "HERMES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        360
      ],
      "id": "ef74c9f5-e8ef-4741-824c-f1bd0f604b55",
      "name": "HERMES"
    },
    {
      "parameters": {
        "name": "TASKMASTER",
        "description": "Appelle le workflow TASKMASTER pour gérer les tâches Google Tasks. Vérifie les tâches en cours avant de générer une nouvelle entrée.",
        "workflowId": {
          "__rl": true,
          "value": "WysyXwKll6hIBXYW",
          "mode": "list",
          "cachedResultName": "TASKMASTER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4780,
        520
      ],
      "id": "26051457-8b43-4e36-82ab-d7c5286d5de7",
      "name": "TASKMASTER"
    },
    {
      "parameters": {
        "name": "NOTIONIS",
        "description": "Appelle le workflow NOTIONIS pour organiser et structurer les notes Google Keep. Vérifie les notes existantes avant toute création.",
        "workflowId": {
          "__rl": true,
          "value": "hcf2F6ZAEwbYn9VD",
          "mode": "list",
          "cachedResultName": "NOTIONIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4940,
        520
      ],
      "id": "4bcaddc9-ec8d-41b9-9ed0-c9b0900cc005",
      "name": "NOTIONIS"
    },
    {
      "parameters": {
        "name": "SENTINEL",
        "description": "Appelle le workflow SENTINEL pour analyser un document et extraire les informations importantes.",
        "workflowId": {
          "__rl": true,
          "value": "IALIALgmAY9eCcby",
          "mode": "list",
          "cachedResultName": "SENTINEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4060,
        800
      ],
      "id": "62df0212-c2c5-4555-8aad-f8cb3123eda7",
      "name": "SENTINEL"
    },
    {
      "parameters": {
        "name": "SUMMARION",
        "description": "Appelle le workflow SUMMARION pour générer un résumé optimisé d’un document volumineux.",
        "workflowId": {
          "__rl": true,
          "value": "FVW4zvvOdP10C4KM",
          "mode": "list",
          "cachedResultName": "Summarion 📝"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4180,
        800
      ],
      "id": "fdc6be70-da2d-46c2-8600-aae83395042d",
      "name": "SUMMARION"
    },
    {
      "parameters": {
        "name": "SCRIPTO",
        "description": "Appelle le workflow SCRIPTO pour générer une réponse rédigée avec précision et clarté.",
        "workflowId": {
          "__rl": true,
          "value": "q2L5Bdkap3RrdWoN",
          "mode": "list",
          "cachedResultName": "Scripto ✍️"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4060,
        980
      ],
      "id": "e971172b-145d-4fa8-928b-bb0e358e4efe",
      "name": "SCRIPTO"
    },
    {
      "parameters": {
        "name": "PLANNER",
        "description": "Appelle le workflow PLANNER pour organiser et prioriser les tâches et événements en fonction de leur importance.",
        "workflowId": {
          "__rl": true,
          "value": "eUJXbrsDodYAblws",
          "mode": "list",
          "cachedResultName": "PLANNER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4180,
        980
      ],
      "id": "e13a221b-2d21-4a37-b3b5-395765ecf4de",
      "name": "PLANNER"
    },
    {
      "parameters": {
        "name": "REFINIO",
        "description": "Appelle le workflow REFINIO pour reformuler et optimiser une requête avant exécution afin de limiter la consommation de tokens.",
        "workflowId": {
          "__rl": true,
          "value": "5yBNIsMPTwhuN7KL",
          "mode": "list",
          "cachedResultName": "REFINIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4300,
        980
      ],
      "id": "3e423fb0-6a13-4cf2-87c6-82f9105178b7",
      "name": "REFINIO"
    },
    {
      "parameters": {
        "name": "ORACLE",
        "description": "Appelle le workflow ORACLE pour récupérer et structurer les résultats d’une recherche web.",
        "workflowId": {
          "__rl": true,
          "value": "wcZvZFPdav4rDoqD",
          "mode": "list",
          "cachedResultName": "ORACLE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4300,
        800
      ],
      "id": "180517e2-ebe8-4480-96b0-aa0a84af09ca",
      "name": "ORACLE"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f01f15e1-32bb-41c5-bc44-080eef9f37fa",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        140
      ],
      "id": "66a5fe4c-536c-4648-81c0-ae51a39499e4",
      "name": "Siri",
      "webhookId": "f01f15e1-32bb-41c5-bc44-080eef9f37fa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28fd1ce7-dd32-4668-b884-4653ccaa9907",
              "name": "source",
              "value": "iphone",
              "type": "string"
            },
            {
              "id": "df71a9f7-ad23-471c-b5f4-4279526903a0",
              "name": "user_id",
              "value": "ybdn",
              "type": "string"
            },
            {
              "id": "6e0e8f74-0dda-4bd7-b9fa-34f8798ee34f",
              "name": "voice",
              "value": "={{ $json.message.voice }}",
              "type": "object"
            },
            {
              "id": "72ab37da-1443-4556-bf22-d4fe93b8954d",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "9ba8d900-fb95-4207-b8d4-fbc64e7d4100",
      "name": "input_Clear"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ed55efc-c126-4749-94ef-77da4c1a2ce3",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1000) }}",
              "type": "number"
            },
            {
              "id": "674e79e7-9b09-4326-8308-2d5df0356b1c",
              "name": "source",
              "value": "={{ $('input_Clear').item.json.source }}",
              "type": "string"
            },
            {
              "id": "22a7e1c1-7b76-4581-addf-f589a469d3de",
              "name": "user_id",
              "value": "={{ $('input_Clear').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "b727837e-e46c-4593-9000-c526fc9837a8",
              "name": "message.content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3000,
        20
      ],
      "id": "c11af687-6f71-49d7-aee0-6791ee2e2b32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19f6e9e7-4421-4757-b452-d183343b226c",
              "name": "message.text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        140
      ],
      "id": "67c490a2-e459-4edd-a1b0-9f206c4e80b4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "MNEMOS",
        "toolDescription": "Consulte ce vector store MNEMOS avant de répondre ou de conulter quoi que ce soit. Ta réponse est peut être ici.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnemos",
          "mode": "list",
          "cachedResultName": "mnemos"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        4560,
        740
      ],
      "id": "dcf6c8fb-f7a8-434d-91a7-3161aa80fa53",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qeIz9DAd1d4jW2wv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4620,
        960
      ],
      "id": "70e0af58-5b14-4f78-824b-9b8a88b3a7c2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=----\nDate : {{ $now.format(\"dd MMM'.' yyyy 'à' HH'h' mm'min.' ss'sec.'\")}} //\nRequête :{{ $json.message.content }} //\n----"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3180,
        -140
      ],
      "id": "d1928730-a66d-4e61-9f7e-cddaf0b7b622",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=----\nDate : {{ $now.format(\"dd MMM'.' yyyy 'à' HH'h' mm'min.' ss'sec.'\")}} //\nRequête :{{ $json.message.content }} //\n----"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4460,
        -160
      ],
      "id": "70a35a12-0359-4219-bee1-956f2e41a9dd",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "INPUT_Telegram": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J.A.R.E.D.": {
      "main": [
        [
          {
            "node": "OUTPUT_Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHRONOS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NEXUS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HERMES": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TASKMASTER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NOTIONIS": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SENTINEL": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SUMMARION": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SCRIPTO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PLANNER": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "REFINIO": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ORACLE": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Siri": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_Clear": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "input_Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUTPUT_Telegram": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.E.D.",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1e504e36-b226-4c36-ac03-5757f7695be6",
  "triggerCount": 2,
  "tags": []
}