n8n-backups/Maintenance MNEMOS.json
{
  "createdAt": "2025-03-03T12:47:47.712Z",
  "updatedAt": "2025-03-03T12:47:47.712Z",
  "id": "wBXn47oLpPEmSEZR",
  "name": "Maintenance MNEMOS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Déclencheur quotidien",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        100
      ],
      "id": "ab4a6a0e-9902-4f7c-a47d-5e1cbd86f0f5"
    },
    {
      "parameters": {},
      "name": "Nettoyage des données",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        -800,
        100
      ],
      "id": "202f7088-2d1d-4db8-973f-73a048d57bcc",
      "credentials": {}
    },
    {
      "parameters": {},
      "name": "Statistiques de mémoire",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        -600,
        100
      ],
      "id": "3d4f1b1a-ef68-4b1b-8fb9-55dcae798eea",
      "credentials": {}
    },
    {
      "parameters": {
        "functionCode": "// Analyse des statistiques et optimisation\nconst stats = $input.all();\nlet totalEntries = 0;\nlet typeBreakdown = {};\n\n// Calculer les totaux\nfor (const stat of stats) {\n  totalEntries += stat.count;\n  typeBreakdown[stat.type] = stat.count;\n}\n\n// Déterminer si une optimisation est nécessaire\nlet optimizationNeeded = totalEntries > 10000;\nlet lowImportanceThreshold = optimizationNeeded ? 4 : 3;\n\nreturn [\n  {\n    totalEntries,\n    typeBreakdown,\n    optimizationNeeded,\n    lowImportanceThreshold,\n    maintenanceDate: new Date().toISOString()\n  }\n];"
      },
      "name": "Analyse des statistiques",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ],
      "id": "a9fed996-f044-4b3f-a0dd-e45947f298a0"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.optimizationNeeded}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Optimisation nécessaire ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "id": "29811611-61ec-4042-88d8-711cddacb6b1"
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/webhook/mnemos-memory",
        "options": {}
      },
      "name": "Demande d'optimisation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fb912860-62f7-46ae-b1ac-6624e7332cbd"
    },
    {
      "parameters": {},
      "name": "Supprimer entrées redondantes",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "5d76bb0f-8715-491f-a4d0-e6b64b98c3f2",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "1141780707",
        "text": "=🧠 **Maintenance MNEMOS terminée**\n\n**Statistiques actuelles:**\n• Total des entrées: {{$json.totalEntries}}\n• Répartition par type: \n{{Object.entries($json.typeBreakdown).map(([type, count]) => `  - ${type}: ${count}`).join('\\n')}}\n\n**Statut:**\n• Optimisation: {{$json.optimizationNeeded ? 'Effectuée' : 'Non nécessaire'}}\n• Date: {{new Date().toLocaleString()}}",
        "additionalFields": {}
      },
      "name": "Notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "3397a845-7561-4297-8ffb-fac7feeee5ca",
      "webhookId": "94b86245-db7d-449b-a146-0024e56b8e28",
      "credentials": {
        "telegramApi": {
          "id": "nQZiIP9oXBgOJZXe",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Analyse des statistiques": {
      "main": [
        [
          {
            "node": "Optimisation nécessaire ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimisation nécessaire ?": {
      "main": [
        [
          {
            "node": "Demande d'optimisation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notification Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c6ee2504-38b7-43c7-8b31-983f51db4323",
  "triggerCount": 0,
  "tags": []
}