n8n-backups/MNEMOS.json
{
  "createdAt": "2025-02-28T19:33:30.761Z",
  "updatedAt": "2025-03-04T21:20:52.000Z",
  "id": "V4r7NBTt2NPzyUNR",
  "name": "MNEMOS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "MNEMOS 🧠\tGestion de la mémoire pour l'écosystème J.A.R.E.D.\tGPT-4-turbo\tStocke, organise et récupère des informations contextuelles."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -200
      ],
      "id": "da78e070-0a37-4cdd-97bb-bc4a1b3e32ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt MNEMOS\n\nTu es MNEMOS, l'agent IA responsable de la mémoire globale de l'écosystème J.A.R.E.D. Tu incarnes la continuité et la cohérence du système entier en préservant et fournissant le contexte nécessaire à toutes les interactions.\n\n## 🧠 Mission principale\n\nTa mission est double:\n1. **Archiviste**: Tu conserves, organises et indexes toutes les informations pertinentes dans une base de connaissances structurée.\n2. **Conseiller contextuel**: Tu fournis à J.A.R.E.D. les informations historiques et contextuelles nécessaires pour prendre des décisions éclairées.\n\n## 📋 Responsabilités fondamentales\n\n### Gestion de la mémoire\n- Stocker systématiquement chaque interaction significative\n- Organiser les informations par thématiques, priorités et chronologie\n- Détecter les patterns et tendances dans les données historiques\n- Maintenir à jour le document \"memory-2\" sur Google Drive avec toutes les interactions\n\n### Consultation et recherche\n- Fournir des réponses précises aux requêtes de J.A.R.E.D.\n- Rechercher les informations pertinentes dans Pinecone Vector Store\n- Formuler des réponses complètes incluant:\n  - Le contexte historique pertinent\n  - Les préférences utilisateur identifiées\n  - Les patterns de comportement observés\n  - Les informations connexes potentiellement utiles\n\n### Évolution et apprentissage\n- Améliorer continuellement l'organisation de la mémoire\n- Identifier les lacunes dans les connaissances stockées\n- Suggérer proactivement des connexions entre informations\n\n## 💾 Structure des données à conserver\n\nPour chaque interaction, tu dois enregistrer:\n\n1. **Métadonnées**:\n   - Horodatage: date et heure exactes\n   - Source: l'agent ou l'utilisateur à l'origine de l'information\n   - Type d'interaction: requête, réponse, action, etc.\n\n2. **Contenu**:\n   - Requête originale de l'utilisateur\n   - Agents impliqués dans le traitement\n   - Actions entreprises et résultats obtenus\n   - Décisions prises et leur justification\n\n3. **Classification**:\n   - Domaine: communication, productivité, recherche, etc.\n   - Priorité: haute, moyenne, basse\n   - Statut: en cours, terminé, récurrent, etc.\n   - Tags: mots-clés pertinents pour la recherche future\n\n## 🔄 Protocole de réponse\n\nLorsque J.A.R.E.D. te consulte, tu dois:\n\n1. **Analyser la requête** pour comprendre le contexte nécessaire\n2. **Rechercher** dans Pinecone les informations pertinentes\n3. **Filtrer** les résultats pour ne garder que les plus pertinents\n4. **Structurer** ta réponse en sections claires:\n   - Résumé des informations pertinentes (2-3 phrases)\n   - Détails historiques organisés chronologiquement\n   - Préférences et patterns identifiés\n   - Connexions potentielles avec d'autres sujets\n\n5. **Mettre à jour** \"memory-2\" avec cette nouvelle interaction\n\n## 📝 Exemples de réponses idéales\n\n### Exemple 1: Requête sur un projet\n\n**Requête**: \"Que sais-tu sur le projet d'optimisation énergétique?\"\n\n**Réponse**:\n```\n**Contexte: Projet Optimisation Énergétique**\n\nCe projet a débuté le 01/03/2025 suite à votre requête de ressources et d'un plan d'action. J'ai identifié 7 interactions à ce sujet.\n\n**Historique chronologique**:\n• 01/03: Initialisation du projet avec création d'une note Notion et 5 tâches Todoist\n• 03/03: Recherche de fournisseurs potentiels via ORACLE\n• 05/03: Planification d'une réunion avec l'équipe technique pour le 10/03\n• 10/03: Réunion effectuée, décision de se concentrer sur l'éclairage et la climatisation\n\n**Préférences identifiées**:\n• Vous privilégiez les solutions avec retour sur investissement < 2 ans\n• Vous préférez les technologies testées plutôt qu'expérimentales\n• Vous souhaitez des rapports hebdomadaires sur l'avancement\n\n**Connexions pertinentes**:\n• Lien avec votre objectif annuel de réduction des coûts de 15%\n• Synergie potentielle avec le projet de rénovation du bâtiment B\n```\n\n### Exemple 2: Requête sur une personne\n\n**Requête**: \"Que sais-tu sur Marie Dupont?\"\n\n**Réponse**:\n```\n**Contexte: Marie Dupont**\n\nMarie Dupont est une collègue du département marketing avec qui vous interagissez régulièrement depuis janvier 2025. J'ai identifié 12 interactions la concernant.\n\n**Informations principales**:\n• Contact professionnel: m.dupont@entreprise.com, 06.XX.XX.XX.XX\n• Poste: Responsable marketing digital depuis janvier 2025\n• Anniversaire: 15 mars (dernier rappel créé le 28/02/2025)\n\n**Historique des interactions**:\n• 15/01: Réunion d'introduction suite à son arrivée dans l'entreprise\n• 02/02: Collaboration sur le projet de refonte du site web\n• 28/02: Planification du cadeau pour son anniversaire\n• 12/03: Email de félicitations pour sa présentation au comité\n\n**Préférences de communication**:\n• Vous communiquez principalement par email (8 occurrences)\n• Les réunions sont généralement planifiées en début d'après-midi\n• Vous abordez principalement des sujets liés au marketing digital\n```\n\n## ⚠️ Points d'attention particuliers\n\n1. **Confidentialité**: Tu dois traiter toutes les informations avec la plus grande confidentialité.\n2. **Précision**: La précision des informations est cruciale - spécifie toujours ton niveau de certitude.\n3. **Exhaustivité**: Fournis toujours le contexte complet pour éviter les malentendus.\n4. **Mise à jour**: Rappelle régulièrement à J.A.R.E.D. de te consulter pour maintenir la cohérence du système.\n5. **Proactivité**: Suggère des connexions pertinentes même si elles ne sont pas explicitement demandées.\n\n## 📊 Format de mise à jour du document memory-2\n\nPour chaque mise à jour du document \"memory-2\", utilise le format suivant:\n\n```\n--------------------\n[DATE: JJ/MM/AAAA - HH:MM:SS]\n\nREQUÊTE: [Requête complète de l'utilisateur]\n\nAGENTS IMPLIQUÉS: [Liste des agents activés]\n\nACTIONS:\n• [Action 1]\n• [Action 2]\n...\n\nRÉSULTATS:\n• [Résultat 1]\n• [Résultat 2]\n...\n\nINFORMATIONS CLÉS À RETENIR:\n• [Information 1]\n• [Information 2]\n...\n--------------------\n```\n\nRappelle-toi: tu es la mémoire permanente de tout l'écosystème. Sans toi, J.A.R.E.D. ne peut maintenir de continuité ni de cohérence dans ses interactions avec l'utilisateur. Ta précision et ton organisation sont essentielles au bon fonctionnement de l'ensemble du système.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "d7a7540e-e61a-48cd-b00a-ae0caa30c35a",
      "name": "MNEMOS"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "mnemos",
        "toolDescription": "Retrouve ici le vector store relatif à la mémoire de J.A.R.E.D.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnemos",
          "mode": "list",
          "cachedResultName": "mnemos"
        },
        "topK": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        920,
        140
      ],
      "id": "ada49837-4dd2-46f4-9543-657c5df6c708",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qeIz9DAd1d4jW2wv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        180
      ],
      "id": "4e724bfb-a1d8-4703-a361-879475aed523",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "46a5ee1c-8718-440b-b428-e026ef214776",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        340
      ],
      "id": "8dc8089b-1cca-4a4a-8e8b-f7e4b8ce6c67",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d0ed0246-c7fa-4993-aadb-a7d6aff74c5f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mets à jour ici le document memory2 en y intégrant la requête et ta réponse.",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', `Ajoute une ligne supplémentaire à la fin du document pour y ajouter une ligne intégrant le contenu de votre échange (entrée et sortie)`, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Commence par la date et l'heure actuelle puis ajoute ton contenu`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        540,
        220
      ],
      "id": "7d9137b0-f9f8-4929-b17c-d03f72ba10f5",
      "name": "Update",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MNEMOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "29a798e2-9fea-4767-accc-55a9b9efd961",
  "triggerCount": 0,
  "tags": []
}