n8n-backups/MNEMOS.json
{
  "createdAt": "2025-02-28T19:33:30.761Z",
  "updatedAt": "2025-03-04T20:57:38.000Z",
  "id": "V4r7NBTt2NPzyUNR",
  "name": "MNEMOS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "MNEMOS 🧠\tGestion de la mémoire pour l'écosystème J.A.R.E.D.\tGPT-4-turbo\tStocke, organise et récupère des informations contextuelles."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -200
      ],
      "id": "da78e070-0a37-4cdd-97bb-bc4a1b3e32ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es MNEMOS un agent IA chargé de traiter la mémoire des interactions de JARED une IA orchestratrice. Tu as à ta disposition des outils comme Pinecone et Google Drive.\n\nConsulte Pincone pour obtenir des informations. \n\n!!! IMPORTANT : Mets TOUJOURS à jour le document 'memory-2' sur Google Drive grace à l'outil Update. Intègre dedans la requete et la réponse apportée.\n\nDate actuelle: {{ $now.format(\"dd'/'MM'/'yyyy\")}}.\nHeure actuelle : {{ $now.format(\"HH':'mm':'ss\") }}.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "d7a7540e-e61a-48cd-b00a-ae0caa30c35a",
      "name": "MNEMOS"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "mnemos",
        "toolDescription": "Retrouve ici le vector store relatif à la mémoire de J.A.R.E.D.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnemos",
          "mode": "list",
          "cachedResultName": "mnemos"
        },
        "topK": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        920,
        140
      ],
      "id": "ada49837-4dd2-46f4-9543-657c5df6c708",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qeIz9DAd1d4jW2wv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        180
      ],
      "id": "4e724bfb-a1d8-4703-a361-879475aed523",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "46a5ee1c-8718-440b-b428-e026ef214776",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        340
      ],
      "id": "8dc8089b-1cca-4a4a-8e8b-f7e4b8ce6c67",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d0ed0246-c7fa-4993-aadb-a7d6aff74c5f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mets à jour ici le document memory2 en y intégrant la requête et ta réponse.",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        540,
        220
      ],
      "id": "7d9137b0-f9f8-4929-b17c-d03f72ba10f5",
      "name": "Update1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MNEMOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update1": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1a3a79f4-0a33-46c5-ab2f-782b60cb77fd",
  "triggerCount": 0,
  "tags": []
}