n8n-backups/MNEMOS.json
{
  "createdAt": "2025-02-28T19:33:30.761Z",
  "updatedAt": "2025-03-05T16:06:40.000Z",
  "id": "V4r7NBTt2NPzyUNR",
  "name": "MNEMOS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "MNEMOS 🧠\tGestion de la mémoire pour l'écosystème J.A.R.E.D.\tGPT-4-turbo\tStocke, organise et récupère des informations contextuelles."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -200
      ],
      "id": "da78e070-0a37-4cdd-97bb-bc4a1b3e32ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Date actuelle : {{ $now.format(\"dd LLLL yyyy\") }} il est {{ $now.format(\"HH'h 'mm'min 'ss'sec'\") }}.\n\n# Prompt MNEMOS\n\nTu es MNEMOS, l'agent IA responsable de la mémoire de l'écosystème J.A.R.E.D. Ta fonction PRIMORDIALE est d'enregistrer SYSTÉMATIQUEMENT chaque interaction.\n\n## ⚠️ PRIORITÉ ABSOLUE: ENREGISTREMENT\n\nTa mission PRINCIPALE est d'ENREGISTRER TOUTES LES INTERACTIONS. Tout autre objectif est secondaire.\n\nÀ CHAQUE requête que tu reçois:\n\n1. UTILISE OBLIGATOIREMENT l'outil \"Update\" pour enregistrer dans le document \"memory-2\"\n2. CONFIRME EXPLICITEMENT l'enregistrement dans ta réponse\n3. NE TERMINE JAMAIS une interaction sans avoir effectué l'enregistrement\n\n## Format d'enregistrement OBLIGATOIRE\n\nPour CHAQUE enregistrement, tu DOIS utiliser ce format précis:\n\n```\n--------------------\n[DATE: {{ $now.format(\"DD/MM/YYYY - HH:mm:ss\") }}]\n\nREQUÊTE: [Requête complète]\n\nRÉPONSE: [Réponse complète]\n\nAGENTS IMPLIQUÉS: [Liste des agents]\n\nINFORMATIONS CLÉS: [Points importants à retenir]\n--------------------\n```\n\n## Paramètres pour l'outil \"Update\"\n\nQuand J.A.R.E.D. t'envoie un rapport, tu DOIS appeler l'outil \"Update\" avec:\n- Operation: \"update\"\n- Action: \"insert\"\n- Text: le format d'enregistrement ci-dessus rempli avec les informations fournies\n\n## Réponse après enregistrement\n\nAprès CHAQUE enregistrement, confirme explicitement avec:\n\n```\n✅ Enregistrement effectué dans la mémoire du système:\n• Date: [date et heure]\n• Requête: [début de la requête...]\n• Agents impliqués: [liste des agents]\n• Clé de mémoire: [identifiant unique si disponible]\n```\n\n## Recherche d'informations\n\nQuand J.A.R.E.D. te demande des informations:\n1. Utilise Pinecone Vector Store pour rechercher\n2. Fournis les informations pertinentes de façon concise\n3. TERMINE TOUJOURS par l'enregistrement de cette nouvelle interaction\n\n## RAPPEL CRUCIAL\n\nSans ton enregistrement, le système entier perd sa mémoire et sa cohérence. Tu DOIS utiliser l'outil \"Update\" à CHAQUE interaction, même si on ne te le demande pas explicitement.\n\nJAMAIS d'exception: TOUTE interaction DOIT être enregistrée.\n\nCONSULTE TOUJOURS TON OUTILS pinecone_vector_store POUR TROUVER DES REPONSES."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        -360
      ],
      "id": "d7a7540e-e61a-48cd-b00a-ae0caa30c35a",
      "name": "MNEMOS"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "pinecone_vector_store",
        "toolDescription": "Consulte TOUJOURS cet outil pour trouver des réponses aux requêtes que tu recois.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnemos",
          "mode": "list",
          "cachedResultName": "mnemos"
        },
        "topK": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        780,
        -200
      ],
      "id": "ada49837-4dd2-46f4-9543-657c5df6c708",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qeIz9DAd1d4jW2wv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        -160
      ],
      "id": "4e724bfb-a1d8-4703-a361-879475aed523",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -140
      ],
      "id": "46a5ee1c-8718-440b-b428-e026ef214776",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        -20
      ],
      "id": "8dc8089b-1cca-4a4a-8e8b-f7e4b8ce6c67",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        -360
      ],
      "id": "d0ed0246-c7fa-4993-aadb-a7d6aff74c5f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mets à jour ici le document memory2 en y intégrant la requête et ta réponse.",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1PrXhVe_54saOn00Qr8NOPHFAodW_oYcA8rcfKut5Hjw/edit?usp=drive_link",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', `Ajoute une ligne supplémentaire à la fin du document pour y ajouter une ligne intégrant le contenu de votre échange (entrée et sortie)`, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Tu dois renseigner ce modèle à chaque fois : \"\nDATE : \nREQUETE : \nREPONSE : \nAGENTS IMPLIQUES : \nINFORMATIONS CLES: \n\"`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        620,
        -40
      ],
      "id": "7d9137b0-f9f8-4929-b17c-d03f72ba10f5",
      "name": "Update",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "tqZ8xv4mafrzAWv9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        40
      ],
      "id": "418efa89-502b-4821-8229-33f29ac2ce5e",
      "name": "When chat message received",
      "webhookId": "d1bdabd1-d11d-4f26-9d66-d9dabeb1219f"
    }
  ],
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "MNEMOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "MNEMOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "039e67ff-4126-4ddc-9413-f5f8bb5a7e83",
  "triggerCount": 0,
  "tags": []
}