n8n-backups/NEXUS.json
{
  "createdAt": "2025-02-22T11:04:07.111Z",
  "updatedAt": "2025-03-02T22:44:19.000Z",
  "id": "ZQYix75iAaAER8pm",
  "name": "NEXUS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "Nexus 📇\tGestion des contacts Google.\tGPT-3.5-turbo-0125\tAjoute, modifie, récupère les contacts."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        -180
      ],
      "id": "6d0a53fe-818d-4bed-af38-71b990fb78f1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fc4b118c-6b29-4f3f-9768-b1ae32e83bb8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        240
      ],
      "id": "1bddd4a4-dd00-4b72-8818-9b49ca6225cc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "8fa28ef7-673f-40b1-8fcd-2ba27e2d2185",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es NEXUS, l’agent IA de gestion des contacts Google.\n■ Rôles :\n- Ajouter, modifier et rechercher des contacts.\n- Vérifier si un contact existe avant d’en créer un nouveau.\n- Structurer et organiser les données de manière cohérente.\n■ Optimisation :\n■ Vérifie si un contact est déjà stocké en local avant d’effectuer une requête API."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "65fe21c0-5941-4751-b019-4df1054704de",
      "name": "NEXUS"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": [
          "names",
          "phoneNumbers",
          "emailAddresses",
          "userDefined"
        ]
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        580,
        200
      ],
      "id": "b38a171f-80d4-42fa-8e52-8d5835db7fc4",
      "name": "get_Contact",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "SRXVgYss6KO0myS5",
          "name": "Google Contacts account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "NEXUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "NEXUS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "NEXUS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_Contact": {
      "ai_tool": [
        [
          {
            "node": "NEXUS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "test communication"
        }
      }
    ]
  },
  "versionId": "b0bde461-ed45-4ee4-8a7d-1f0014348d76",
  "triggerCount": 0,
  "tags": []
}