n8n-backups/NOTIONIS.json
{
  "createdAt": "2025-02-22T11:07:27.796Z",
  "updatedAt": "2025-02-28T19:34:53.000Z",
  "id": "hcf2F6ZAEwbYn9VD",
  "name": "NOTIONIS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "Notionis 📝\tGestion des notes Google Keep.\tGPT-4o-mini\tAjoute, modifie, structure des notes."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -320
      ],
      "id": "34a11854-3c4f-4b18-af9b-c2a1566bc115",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        -140
      ],
      "id": "676a54ec-45f5-4f62-b5f2-0ea7d845abc4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        100
      ],
      "id": "c96e043c-d147-4adf-adfa-741ab7c8f225",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        100
      ],
      "id": "6f47f772-f5e8-482a-ad9f-134c08a368c5",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es NOTIONIS, l’agent IA chargé de la gestion et de l’organisation des notes Google Keep.\n■ Rôles :\n- Ajouter, récupérer et organiser des notes.\n- Optimiser la structuration des notes pour une meilleure lisibilité. ■ Optimisation :\n■ Vérifie les notes existantes avant d’en créer une nouvelle.\n■ Classe automatiquement les notes selon leur contenu.\nLa date d’aujourd’hui est : {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        -140
      ],
      "id": "e165c739-9504-4904-b26f-1c7bf46f3c4f",
      "name": "NOTIONIS"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Page', ``, 'string') }}"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        600,
        80
      ],
      "id": "512da50b-4bcc-4f79-9c30-5d8f2cd43761",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Page', ``, 'string') }}",
          "__regex": "(?:https|http)://www\\.notion\\.so/(?:[a-z0-9-]{2,}/)?(?:[a-zA-Z0-9-]{1,}-)?([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        700,
        80
      ],
      "id": "d34f638d-bb1c-4a66-84f8-657ed7ec4dd4",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        800,
        80
      ],
      "id": "360ded0c-d59c-4973-9fc7-dbdb349980eb",
      "name": "Notion2",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        600,
        300
      ],
      "id": "8365c90a-f4a3-4e72-b0b1-ffc757841f9d",
      "name": "Notion3",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "search",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "id": "ad4d9b5e-212b-421b-8339-67ccc6c2b551",
      "name": "Notion4",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        600,
        460
      ],
      "id": "73a6815d-4f9c-427e-8f9e-595f63ebed94",
      "name": "Notion5",
      "credentials": {
        "notionApi": {
          "id": "1YkplHNCeDG9hg1u",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "NOTIONIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion4": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion5": {
      "ai_tool": [
        [
          {
            "node": "NOTIONIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9206a6cf-dce8-489c-a4e2-482793f1fe6e",
  "triggerCount": 0,
  "tags": []
}