n8n-backups/ORACLE.json
{
  "createdAt": "2025-02-28T19:35:24.679Z",
  "updatedAt": "2025-02-28T19:35:52.000Z",
  "id": "wcZvZFPdav4rDoqD",
  "name": "ORACLE",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "78fabeba-812e-4505-8019-8e4051c8d1c2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "gl": "fr",
          "device": "desktop",
          "no_cache": true,
          "google_domain": "google.fr",
          "hl": "fr"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        780,
        240
      ],
      "id": "39fc5d8f-3094-410a-aec2-f645bf9cdefb",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "wV6CCiTqzp0uJtey",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "Oracle 🌐\tRecherche d’informations sur le web et structure les résultats.\tGPT-4-turbo (recherche), GPT-4o-mini (résumé)\tExécute des requêtes SerpAPI et synthétise les résultats."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -200
      ],
      "id": "4b1510c6-66ec-4cca-b5d5-7b69d95bcd79",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        240
      ],
      "id": "b4622f92-3b84-4f57-8799-0fa20dc6a58b",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        240
      ],
      "id": "ee422c15-6bdc-4c66-9138-5720279db7e4",
      "name": "Window Buffer Memory6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es ORACLE, l’agent IA chargé d’effectuer des recherches sur Internet via SerpAPI.\n■ Rôles :\n- Récupérer les informations les plus pertinentes depuis le web.\n- Synthétiser et structurer les résultats avant transmission.\n■ Optimisation :\n■ Évite les recherches inutiles si une réponse a déjà été trouvée récemment.\n■ Privilégie les sources fiables.\nLa date d’aujourd’hui est : {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ],
      "id": "dc8baae8-52ea-46e8-8604-50538d2efe78",
      "name": "ORACLE"
    }
  ],
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "ORACLE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "ORACLE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory6": {
      "ai_memory": [
        [
          {
            "node": "ORACLE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ORACLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7858ab20-6392-443f-9806-dcb1626b98d5",
  "triggerCount": 0,
  "tags": []
}