n8n-backups/REFINIO.json
{"createdAt":"2025-02-28T19:48:02.266Z","updatedAt":"2025-02-28T19:48:02.266Z","id":"5yBNIsMPTwhuN7KL","name":"REFINIO","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"e5187e9e-62fc-499b-9f47-576b788128f0","name":"When Executed by Another Workflow"},{"parameters":{"content":"Refinio 🎯\tReformule et optimise les requêtes avant envoi aux autres agents.\tGPT-4-turbo\tAméliore la précision des requêtes pour limiter la consommation de tokens."},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,-180],"id":"232508b5-b4bb-4c3a-b2da-a79cb894672d","name":"Sticky Note6"},{"parameters":{"model":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"gpt-4-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,180],"id":"7cfbb775-e1a0-4fd1-aca5-0333a09833d3","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"DUTWksCS3uLmTa9V","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.query }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,180],"id":"799d1584-3b49-4c23-a234-64af226d7224","name":"Window Buffer Memory7"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"Tu es REFINIO, l’agent IA chargé d’optimiser les requêtes pour éviter toute consommation inutile de tokens. ■ Rôles :\n- Reformuler et condenser les requêtes avant envoi aux autres agents.\n- Filtrer les demandes inutiles ou mal structurées.\n■ Optimisation :\n■ Évite les requêtes redondantes déjà effectuées récemment.\n■ S’assure que chaque requête est claire et concise.\nLa date d’aujourd’hui est : {{ now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"1cb6a332-dcd4-42e2-a5b6-9cf82ce70e78","name":"REFINIO"}],"connections":{"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"REFINIO","type":"ai_languageModel","index":0}]]},"Window Buffer Memory7":{"ai_memory":[[{"node":"REFINIO","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"REFINIO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7bec3a62-461e-438b-a5f3-e540869decf3","triggerCount":0,"tags":[]}