n8n-backups/Scripto ✍️.json
{
  "createdAt": "2025-02-22T11:09:01.847Z",
  "updatedAt": "2025-02-22T13:22:14.000Z",
  "id": "q2L5Bdkap3RrdWoN",
  "name": "Scripto ✍️",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "Scripto ✍️\tGénère des emails, documents et contenus bien rédigés.\tGPT-4o\tRédige des textes optimisés et formels."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        -200
      ],
      "id": "595570d4-95a5-42b0-bc72-23711a174362",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f23b9ef3-9d22-450c-882a-6201cfb8ce5a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        240
      ],
      "id": "5134cec3-e698-4315-8365-60100e43b05a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "e0768427-908f-4299-a59c-29f85b0fa09b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es SCRIPTO, l’agent IA spécialisé dans la génération de contenu structuré et bien rédigé.\n■ Rôles :\n- Rédiger des emails, rapports et documents professionnels.\n- Assurer une formulation fluide et naturelle.\n■ Optimisation :\n■ Utilise un modèle avancé uniquement lorsque la complexité du texte l’exige.\n■ Vérifie la clarté et la cohérence du texte avant envoi.\nLa date d’aujourd’hui est : {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "4ac4b754-032a-4d93-b062-fca1d7ec385b",
      "name": "SCRIPTO"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SCRIPTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SCRIPTO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "SCRIPTO",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8325ea01-fb33-454a-b261-819480f4f957",
  "triggerCount": 0,
  "tags": []
}