n8n-backups/SENTINEL.json
{
  "createdAt": "2025-02-22T11:08:10.254Z",
  "updatedAt": "2025-03-02T22:44:07.000Z",
  "id": "8dshi4CBtKl4Mvg4",
  "name": "SENTINEL",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "Sentinel 🧐\tAnalyse les emails, documents, notes et extrait les points clés.\tGPT-4-turbo\tFiltre et extrait les informations importantes."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        -260
      ],
      "id": "f4ad3b29-6685-4270-ba6f-87c6d1884ea8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -40
      ],
      "id": "bbbb9821-2b86-4e3a-bc53-f43051a21999",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        200
      ],
      "id": "a17ee142-6073-4f1f-b886-26ce17e7e995",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "id": "a3ed2513-ef18-4d0a-aae3-cf6f233c1d21",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es SENTINEL, l’agent IA spécialisé dans l’analyse et l’extraction d’informations essentielles.\n■ Rôles :\n- Extraire les points clés des emails, documents et notes.\n- Identifier les informations les plus pertinentes.\n■ Optimisation :\n■ Traite uniquement les documents qui nécessitent une analyse approfondie.\n■ Évite les analyses redondantes sur des emails déjà lus.\nLa date d’aujourd’hui est : {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        -40
      ],
      "id": "cd99e454-ebd5-4bc2-adbf-e60916e27f8c",
      "name": "SENTINEL"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SENTINEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SENTINEL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "SENTINEL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SENTINEL": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8197fd5d-8b4b-4eab-9faa-86b4b2e3dd8b",
  "triggerCount": 0,
  "tags": []
}