n8n-backups/SENTINEL.json
{
  "createdAt": "2025-02-28T19:47:28.829Z",
  "updatedAt": "2025-02-28T19:47:28.829Z",
  "id": "IALIALgmAY9eCcby",
  "name": "SENTINEL",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3e5b88d5-114d-4bd4-a243-02f68802c5b4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "Sentinel 🧐\tAnalyse les emails, documents, notes et extrait les points clés.\tGPT-4-turbo\tFiltre et extrait les informations importantes."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -220
      ],
      "id": "cd366c2f-fe57-4f94-84b9-fa154a4f79ce",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        240
      ],
      "id": "52c77a03-d06d-420b-a542-c5cf481e930d",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "DUTWksCS3uLmTa9V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        240
      ],
      "id": "2387015e-3650-4b9d-834d-1b2362f3cb96",
      "name": "Window Buffer Memory8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es SENTINEL, l’agent IA spécialisé dans l’analyse et l’extraction d’informations essentielles.\n■ Rôles :\n- Extraire les points clés des emails, documents et notes.\n- Identifier les informations les plus pertinentes.\n■ Optimisation :\n■ Traite uniquement les documents qui nécessitent une analyse approfondie.\n■ Évite les analyses redondantes sur des emails déjà lus.\nLa date d’aujourd’hui est : {{ now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ],
      "id": "d497b64d-21bd-4c15-bdfd-dbdcc0ca54ec",
      "name": "SENTINEL"
    }
  ],
  "connections": {
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "SENTINEL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory8": {
      "ai_memory": [
        [
          {
            "node": "SENTINEL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SENTINEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3a218928-ba49-442c-a4ab-382304ead5c9",
  "triggerCount": 0,
  "tags": []
}